In [1]:
# This is a test to begin

This notebook is for Data Wrangling and Cleaning

In [3]:
# Imports
import pandas as pd

This is the main dataset that contains information for each Food Environment Atlas category.

In [8]:
# Importing Dataset
file_food_atlas = 'StateAndCountyData.csv'
data_state_county = pd.read_csv(file_food_atlas)
data_state_county.head()

   FIPS State   County          Variable_Code         Value
0  1001    AL  Autauga          LACCESS_POP10  18428.439690
1  1001    AL  Autauga          LACCESS_POP15  17496.693040
2  1001    AL  Autauga  PCH_LACCESS_POP_10_15     -5.056026
3  1001    AL  Autauga      PCT_LACCESS_POP10     33.769657
4  1001    AL  Autauga      PCT_LACCESS_POP15     32.062255

In [10]:
data_state_county.dtypes

FIPS               int64
State             object
County            object
Variable_Code     object
Value            float64
dtype: object

Importing State Dataset -- This dataset contains supplemental information at the state level

In [11]:
# Importing State Dataset
file_state_data = 'SupplementalDataState.csv'
data_state = pd.read_csv(file_state_data)
data_state.head()

   State_FIPS State  Variable_Code        Value
0           1    AL  WIC_PART_2012  141899.8333
1           1    AL  WIC_PART_2013  139000.5000
2           1    AL  WIC_PART_2014  131046.2500
3           1    AL  WIC_PART_2015  132132.7500
4           1    AL  WIC_PART_2016  129159.9167

Importing County Dataset -- This dataset contains supplemental information

In [12]:
# Importing County Dataset
file_county_data = 'SupplementalDataCounty.csv'
data_county = pd.read_csv(file_county_data)
data_county.head()

   FIPS State          County             Variable_Code  Value
0  1001    AL  Autauga County    2010_Census_Population  54571
1  1001    AL  Autauga County  Population_Estimate_2011  55208
2  1001    AL  Autauga County  Population_Estimate_2012  54936
3  1001    AL  Autauga County  Population_Estimate_2013  54713
4  1001    AL  Autauga County  Population_Estimate_2014  54876