# Food Desert Investigation -- Data Wrangling and Cleaning

## Imports

In [402]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

I am going to use Pandas DataFrames to work with the csv files I've downloaded.

### State and County Data

I am filtering the StateAndCountyData to save the columns from 2016. I am doing this because all of the food data is from 2016. I will utilize other datasets to supplement this data with demographic data.

In [403]:
file_food_atlas = 'StateAndCountyData.csv'
data_state_county = pd.read_csv(file_food_atlas)
data_state_county.head()

   FIPS State   County          Variable_Code         Value
0  1001    AL  Autauga          LACCESS_POP10  18428.439690
1  1001    AL  Autauga          LACCESS_POP15  17496.693040
2  1001    AL  Autauga  PCH_LACCESS_POP_10_15     -5.056026
3  1001    AL  Autauga      PCT_LACCESS_POP10     33.769657
4  1001    AL  Autauga      PCT_LACCESS_POP15     32.062255

In [404]:
filtered_df = data_state_county[data_state_county['Variable_Code'].str.contains('(16)$')]

/var/folders/d7/365gnrk10q72fy9l9_q_hft80000gn/T/ipykernel_1308/3569536789.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  filtered_df = data_state_county[data_state_county['Variable_Code'].str.contains('(16)$')]

In [405]:
filtered_df.head()

        FIPS State   County      Variable_Code      Value
128276  1001    AL  Autauga             GROC16   3.000000
128277  1001    AL  Autauga     PCH_GROC_11_16 -40.000000
128279  1001    AL  Autauga          GROCPTH16   0.054271
128280  1001    AL  Autauga  PCH_GROCPTH_11_16 -40.085748
128282  1001    AL  Autauga           SUPERC16   1.000000

In [406]:
filtered_df['County'] = filtered_df['County'].str.replace(r'[^\w\s]', '', regex=True) # Remove punctuation
filtered_df['County'] = filtered_df['County'].str.replace('County', '') # Remove 'County' word, only present sometimes
filtered_df['County'] = filtered_df['County'].str.strip() # Remove leading and trailing spaces
filtered_df['County'] = filtered_df['County'].str.lower() # Convert to lowercase

/var/folders/d7/365gnrk10q72fy9l9_q_hft80000gn/T/ipykernel_1308/3599340196.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['County'] = filtered_df['County'].str.replace(r'[^\w\s]', '', regex=True) # Remove punctuation
/var/folders/d7/365gnrk10q72fy9l9_q_hft80000gn/T/ipykernel_1308/3599340196.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['County'] = filtered_df['County'].str.replace('County', '') # Remove 'County' word, only present sometimes
/var/folders/d7/365gnrk10q72fy9l9_q_hft80000gn/T/ipykernel_1308/3599340196.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['County'] = filtered_df['County'].str.strip() # Remove leading and trailing spaces
/var/folders/d7/365gnrk10q72fy9l9_q_hft80000gn/T/ipykernel_1308/3599340196.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['County'] = filtered_df['County'].str.lower() # Convert to lowercase

In [407]:
filtered_df['State'] = filtered_df.loc[:, 'State'].str.replace(r'[^\w\s]', '', regex=True) # Remove punctuation
filtered_df['State'] = filtered_df['State'].str.strip() # Remove leading and trailing spaces
filtered_df['State'] = filtered_df['State'].str.upper() # Convert to uppercase

/var/folders/d7/365gnrk10q72fy9l9_q_hft80000gn/T/ipykernel_1308/3646267976.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['State'] = filtered_df.loc[:, 'State'].str.replace(r'[^\w\s]', '', regex=True) # Remove punctuation
/var/folders/d7/365gnrk10q72fy9l9_q_hft80000gn/T/ipykernel_1308/3646267976.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['State'] = filtered_df['State'].str.strip() # Remove leading and trailing spaces
/var/folders/d7/365gnrk10q72fy9l9_q_hft80000gn/T/ipykernel_1308/3646267976.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['State'] = filtered_df['State'].str.upper() # Convert to uppercase

In [408]:
pivot_df = filtered_df.pivot_table(index=['FIPS', 'State', 'County'], columns='Variable_Code', values='Value').reset_index()

In [409]:
pivot_df.head()

Variable_Code,FIPS,State,County,CACFP_PART_2016,CONVS16,CONVSPTH16,FFR16,FFRPTH16,FSR16,FSRPTH16,...,SNAP_PART_RATE16,SNAP_REPORTSIMPLE16,SPECS16,SPECSPTH16,SUPERC16,SUPERCPTH16,State_Population_2016,WICS16,WICSPTH16,WIC_PART_2016
0,1,AL,total,59447.50,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4864745.0,NaN,NaN,1.291599e+05
1,2,AK,total,10039.00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,741504.0,NaN,NaN,1.912092e+04
2,4,AZ,total,42618.00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,6945452.0,NaN,NaN,1.639978e+05
3,5,AR,total,66903.00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2990410.0,NaN,NaN,8.055467e+04
4,6,CA,total,595088.25,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,39209127.0,NaN,NaN,1.174875e+06

### County Data

In [410]:
# Importing County Dataset
file_county_data = 'SupplementalDataCounty.csv'
data_county = pd.read_csv(file_county_data)
data_county.head()

   FIPS State          County             Variable_Code  Value
0  1001    AL  Autauga County    2010_Census_Population  54571
1  1001    AL  Autauga County  Population_Estimate_2011  55208
2  1001    AL  Autauga County  Population_Estimate_2012  54936
3  1001    AL  Autauga County  Population_Estimate_2013  54713
4  1001    AL  Autauga County  Population_Estimate_2014  54876

In [411]:
filtered_counties = data_county[data_county['Variable_Code'].str.contains('(16)$')]

filtered_counties['County'] = filtered_counties['County'].str.replace(r'[^\w\s]', '', regex=True) # Remove punctuation
filtered_counties['County'] = filtered_counties['County'].str.replace('County', '') # Remove 'County' word, only present sometimes
filtered_counties['County'] = filtered_counties['County'].str.strip() # Remove leading and trailing spaces
filtered_counties['County'] = filtered_counties['County'].str.lower() # Convert to lowercase

filtered_counties['State'] = filtered_counties['State'].str.replace(r'[^\w\s]', '', regex=True) # Remove punctuation
filtered_counties['State'] = filtered_counties['State'].str.strip() # Remove leading and trailing spaces
filtered_counties['State'] = filtered_counties['State'].str.upper() # Convert to lowercase

counties = filtered_counties.pivot_table(index=['FIPS', 'State', 'County'], columns='Variable_Code', values='Value').reset_index()
counties.head()

/var/folders/d7/365gnrk10q72fy9l9_q_hft80000gn/T/ipykernel_1308/208533991.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  filtered_counties = data_county[data_county['Variable_Code'].str.contains('(16)$')]
/var/folders/d7/365gnrk10q72fy9l9_q_hft80000gn/T/ipykernel_1308/208533991.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_counties['County'] = filtered_counties['County'].str.replace(r'[^\w\s]', '', regex=True) # Remove punctuation
/var/folders/d7/365gnrk10q72fy9l9_q_hft80000gn/T/ipykernel_1308/208533991.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_counties['County'] = filtered_counties['County'].str.replace('County', '') # Remove 'County' word, only present sometimes
/var/folders/d7/365gnrk10q72fy9l9_q_hft80000gn/T/ipykernel_1308/208533991.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_counties['County'] = filtered_counties['County'].str.strip() # Remove leading and trailing spaces
/var/folders/d7/365gnrk10q72fy9l9_q_hft80000gn/T/ipykernel_1308/208533991.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_counties['County'] = filtered_counties['County'].str.lower() # Convert to lowercase
/var/folders/d7/365gnrk10q72fy9l9_q_hft80000gn/T/ipykernel_1308/208533991.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_counties['State'] = filtered_counties['State'].str.replace(r'[^\w\s]', '', regex=True) # Remove punctuation
/var/folders/d7/365gnrk10q72fy9l9_q_hft80000gn/T/ipykernel_1308/208533991.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_counties['State'] = filtered_counties['State'].str.strip() # Remove leading and trailing spaces
/var/folders/d7/365gnrk10q72fy9l9_q_hft80000gn/T/ipykernel_1308/208533991.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_counties['State'] = filtered_counties['State'].str.upper() # Convert to lowercase

Variable_Code  FIPS State   County  Population_Estimate_2016
0              1001    AL  autauga                     55242
1              1003    AL  baldwin                    207712
2              1005    AL  barbour                     25819
3              1007    AL     bibb                     22576
4              1009    AL   blount                     57517

In [412]:
counties = counties.drop(['State','County'], axis=1)

In [413]:
counties.head()

Variable_Code  FIPS  Population_Estimate_2016
0              1001                     55242
1              1003                    207712
2              1005                     25819
3              1007                     22576
4              1009                     57517

## Exploring pivot_df

In [414]:
pivot_df.head()

Variable_Code,FIPS,State,County,CACFP_PART_2016,CONVS16,CONVSPTH16,FFR16,FFRPTH16,FSR16,FSRPTH16,...,SNAP_PART_RATE16,SNAP_REPORTSIMPLE16,SPECS16,SPECSPTH16,SUPERC16,SUPERCPTH16,State_Population_2016,WICS16,WICSPTH16,WIC_PART_2016
0,1,AL,total,59447.50,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4864745.0,NaN,NaN,1.291599e+05
1,2,AK,total,10039.00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,741504.0,NaN,NaN,1.912092e+04
2,4,AZ,total,42618.00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,6945452.0,NaN,NaN,1.639978e+05
3,5,AR,total,66903.00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2990410.0,NaN,NaN,8.055467e+04
4,6,CA,total,595088.25,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,39209127.0,NaN,NaN,1.174875e+06

In [415]:
pivot_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3328 entries, 0 to 3327
Data columns (total 55 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   FIPS                      3328 non-null   int64
 1   State                     3328 non-null   object
 2   County                    3328 non-null   object
 3   CACFP_PART_2016           51 non-null     float64
 4   CONVS16                   3143 non-null   float64
 5   CONVSPTH16                3143 non-null   float64
 6   FFR16                     3143 non-null   float64
 7   FFRPTH16                  3143 non-null   float64
 8   FSR16                     3143 non-null   float64
 9   FSRPTH16                  3143 non-null   float64
 10  GROC16                    3143 non-null   float64
 11  GROCPTH16                 3143 non-null   float64
 12  NSLP_PART_2016            51 non-null     float64
 13  PCH_CONVSPTH_11_16        3122 non-null   float64
 14  PCH_CONVS_11_16           3117 non-null   float64
 15  PCH_FFRPTH_11_16          3091 non-null   float64
 16  PCH_FFR_11_16             3086 non-null   float64
 17  PCH_FSRPTH_11_16          3120 non-null   float64
 18  PCH_FSR_11_16             3115 non-null   float64
 19  PCH_GROCPTH_11_16         3127 non-null   float64
 20  PCH_GROC_11_16            3122 non-null   float64
 21  PCH_PC_WIC_REDEMP_11_16   1808 non-null   float64
 22  PCH_RECFACPTH_11_16       3000 non-null   float64
 23  PCH_RECFAC_11_16          3000 non-null   float64
 24  PCH_REDEMP_WICS_11_16     2983 non-null   float64
 25  PCH_SPECSPTH_11_16        2896 non-null   float64
 26  PCH_SPECS_11_16           2893 non-null   float64
 27  PCH_SUPERCPTH_11_16       3011 non-null   float64
 28  PCH_SUPERC_11_16          3010 non-null   float64
 29  PCH_WICINFANTCHILD_14_16  3143 non-null   float64
 30  PCH_WICSPTH_11_16         2981 non-null   float64
 31  PCH_WICS_11_16            2984 non-null   float64
 32  PCH_WICWOMEN_14_16        3143 non-null   float64
 33  PCT_WICINFANTCHILD16      3143 non-null   float64
 34  PCT_WICWOMEN16            3143 non-null   float64
 35  PC_WIC_REDEMP16           1857 non-null   float64
 36  Population_Estimate_2016  3142 non-null   float64
 37  RECFAC16                  3143 non-null   float64
 38  RECFACPTH16               3143 non-null   float64
 39  REDEMP_WICS16             2985 non-null   float64
 40  SBP_PART_2016             51 non-null     float64
 41  SFSP_PART_2016            51 non-null     float64
 42  SNAP_BBCE16               3143 non-null   float64
 43  SNAP_CAP16                3143 non-null   float64
 44  SNAP_OAPP16               3143 non-null   float64
 45  SNAP_PART_RATE16          3143 non-null   float64
 46  SNAP_REPORTSIMPLE16       3143 non-null   float64
 47  SPECS16                   3143 non-null   float64
 48  SPECSPTH16                3143 non-null   float64
 49  SUPERC16                  3143 non-null   float64
 50  SUPERCPTH16               3143 non-null   float64
 51  State_Population_2016     51 non-null     float64
 52  WICS16                    2985 non-null   float64
 53  WICSPTH16                 2982 non-null   float64
 54  WIC_PART_2016             51 non-null     float64
dtypes: float64(52), int64(1), object(2)
memory usage: 1.4+ MB

In [416]:
pivot_df.describe()

Variable_Code,FIPS,CACFP_PART_2016,CONVS16,CONVSPTH16,FFR16,FFRPTH16,FSR16,FSRPTH16,GROC16,GROCPTH16,...,SNAP_PART_RATE16,SNAP_REPORTSIMPLE16,SPECS16,SPECSPTH16,SUPERC16,SUPERCPTH16,State_Population_2016,WICS16,WICSPTH16,WIC_PART_2016
count,3328.000000,51.000000,3143.00000,3143.000000,3143.000000,3143.000000,3143.000000,3143.000000,3143.000000,3143.000000,...,3143.000000,3143.0,3143.000000,3143.000000,3143.000000,3143.000000,5.100000e+01,2985.000000,2982.000000,5.100000e+01
mean,29764.681490,85921.333333,40.35762,0.595571,75.696787,0.584822,78.551066,0.775831,20.807827,0.243835,...,84.001372,1.0,7.458479,0.055450,1.782055,0.018255,6.334732e+06,14.577889,0.217240,1.474524e+05
std,15635.421817,118749.706301,97.01666,0.304968,268.845823,0.307703,269.993476,0.567851,90.196535,0.216536,...,9.223259,0.0,29.697479,0.075095,4.310650,0.022460,7.242171e+06,48.084899,0.191315,2.065493e+05
min,1.000000,7532.750000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,56.037000,1.0,0.000000,0.000000,0.000000,0.000000,5.842900e+05,1.000000,0.004938,1.078283e+04
25%,18110.500000,19351.875000,7.00000,0.401678,5.000000,0.418769,7.000000,0.495050,2.000000,0.132983,...,76.151000,1.0,0.000000,0.000000,0.000000,0.000000,1.756930e+06,2.000000,0.114667,3.856721e+04
50%,29072.000000,49185.750000,15.00000,0.542005,15.000000,0.588565,18.000000,0.672495,5.000000,0.186116,...,84.002000,1.0,1.000000,0.042268,1.000000,0.014654,4.438229e+06,5.000000,0.165353,1.001519e+05
75%,45067.500000,90559.125000,35.00000,0.722071,45.000000,0.748136,48.000000,0.894307,12.000000,0.279887,...,90.379000,1.0,4.000000,0.079363,1.500000,0.029268,7.120066e+06,10.000000,0.247699,1.515955e+05
max,56045.000000,595088.250000,2199.00000,3.680982,8264.000000,5.805515,8113.000000,11.611030,2495.000000,3.267974,...,100.000000,1.0,787.000000,1.095690,97.000000,0.250752,3.920913e+07,1188.000000,3.262643,1.174875e+06

In [417]:
pivot_df.columns

Index(['FIPS', 'State', 'County', 'CACFP_PART_2016', 'CONVS16', 'CONVSPTH16',
       'FFR16', 'FFRPTH16', 'FSR16', 'FSRPTH16', 'GROC16', 'GROCPTH16',
       'NSLP_PART_2016', 'PCH_CONVSPTH_11_16', 'PCH_CONVS_11_16',
       'PCH_FFRPTH_11_16', 'PCH_FFR_11_16', 'PCH_FSRPTH_11_16',
       'PCH_FSR_11_16', 'PCH_GROCPTH_11_16', 'PCH_GROC_11_16',
       'PCH_PC_WIC_REDEMP_11_16', 'PCH_RECFACPTH_11_16', 'PCH_RECFAC_11_16',
       'PCH_REDEMP_WICS_11_16', 'PCH_SPECSPTH_11_16', 'PCH_SPECS_11_16',
       'PCH_SUPERCPTH_11_16', 'PCH_SUPERC_11_16', 'PCH_WICINFANTCHILD_14_16',
       'PCH_WICSPTH_11_16', 'PCH_WICS_11_16', 'PCH_WICWOMEN_14_16',
       'PCT_WICINFANTCHILD16', 'PCT_WICWOMEN16', 'PC_WIC_REDEMP16',
       'Population_Estimate_2016', 'RECFAC16', 'RECFACPTH16', 'REDEMP_WICS16',
       'SBP_PART_2016', 'SFSP_PART_2016', 'SNAP_BBCE16', 'SNAP_CAP16',
       'SNAP_OAPP16', 'SNAP_PART_RATE16', 'SNAP_REPORTSIMPLE16', 'SPECS16',
       'SPECSPTH16', 'SUPERC16', 'SUPERCPTH16', 'State_Population_2016',
       'WICS16', 'WICSPTH16', 'WIC_PART_2016'],
      dtype='object', name='Variable_Code')

In [418]:
pivot_df.dtypes

Variable_Code
FIPS                          int64
State                        object
County                       object
CACFP_PART_2016             float64
CONVS16                     float64
CONVSPTH16                  float64
FFR16                       float64
FFRPTH16                    float64
FSR16                       float64
FSRPTH16                    float64
GROC16                      float64
GROCPTH16                   float64
NSLP_PART_2016              float64
PCH_CONVSPTH_11_16          float64
PCH_CONVS_11_16             float64
PCH_FFRPTH_11_16            float64
PCH_FFR_11_16               float64
PCH_FSRPTH_11_16            float64
PCH_FSR_11_16               float64
PCH_GROCPTH_11_16           float64
PCH_GROC_11_16              float64
PCH_PC_WIC_REDEMP_11_16     float64
PCH_RECFACPTH_11_16         float64
PCH_RECFAC_11_16            float64
PCH_REDEMP_WICS_11_16       float64
PCH_SPECSPTH_11_16          float64
PCH_SPECS_11_16             float64
PCH_SUPERCPTH_11_16         float64
PCH_SUPERC_11_16            float64
PCH_WICINFANTCHILD_14_16    float64
PCH_WICSPTH_11_16           float64
PCH_WICS_11_16              float64
PCH_WICWOMEN_14_16          float64
PCT_WICINFANTCHILD16        float64
PCT_WICWOMEN16              float64
PC_WIC_REDEMP16             float64
Population_Estimate_2016    float64
RECFAC16                    float64
RECFACPTH16                 float64
REDEMP_WICS16               float64
SBP_PART_2016               float64
SFSP_PART_2016              float64
SNAP_BBCE16                 float64
SNAP_CAP16                  float64
SNAP_OAPP16                 float64
SNAP_PART_RATE16            float64
SNAP_REPORTSIMPLE16         float64
SPECS16                     float64
SPECSPTH16                  float64
SUPERC16                    float64
SUPERCPTH16                 float64
State_Population_2016       float64
WICS16                      float64
WICSPTH16                   float64
WIC_PART_2016               float64
dtype: object

## Cleaning

### Null values

In [419]:
pivot_df.isna()

Variable_Code,FIPS,State,County,CACFP_PART_2016,CONVS16,CONVSPTH16,FFR16,FFRPTH16,FSR16,FSRPTH16,...,SNAP_PART_RATE16,SNAP_REPORTSIMPLE16,SPECS16,SPECSPTH16,SUPERC16,SUPERCPTH16,State_Population_2016,WICS16,WICSPTH16,WIC_PART_2016
0,False,False,False,False,True,True,True,True,True,True,...,True,True,True,True,True,True,False,True,True,False
1,False,False,False,False,True,True,True,True,True,True,...,True,True,True,True,True,True,False,True,True,False
2,False,False,False,False,True,True,True,True,True,True,...,True,True,True,True,True,True,False,True,True,False
3,False,False,False,False,True,True,True,True,True,True,...,True,True,True,True,True,True,False,True,True,False
4,False,False,False,False,True,True,True,True,True,True,...,True,True,True,True,True,True,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3323,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,True
3324,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,True
3325,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,True
3326,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,True
3327,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,True

In [420]:
pivot_df.isna().sum().sort_values(ascending=False)

Variable_Code
WIC_PART_2016               3277
SBP_PART_2016               3277
NSLP_PART_2016              3277
CACFP_PART_2016             3277
State_Population_2016       3277
SFSP_PART_2016              3277
PCH_PC_WIC_REDEMP_11_16     1520
PC_WIC_REDEMP16             1471
PCH_SPECS_11_16              435
PCH_SPECSPTH_11_16           432
PCH_WICSPTH_11_16            347
WICSPTH16                    346
PCH_REDEMP_WICS_11_16        345
PCH_WICS_11_16               344
REDEMP_WICS16                343
WICS16                       343
PCH_RECFAC_11_16             328
PCH_RECFACPTH_11_16          328
PCH_SUPERC_11_16             318
PCH_SUPERCPTH_11_16          317
PCH_FFR_11_16                242
PCH_FFRPTH_11_16             237
PCH_FSR_11_16                213
PCH_CONVS_11_16              211
PCH_FSRPTH_11_16             208
PCH_GROC_11_16               206
PCH_CONVSPTH_11_16           206
PCH_GROCPTH_11_16            201
Population_Estimate_2016     186
SNAP_REPORTSIMPLE16          185
SNAP_CAP16                   185
SNAP_OAPP16                  185
SNAP_PART_RATE16             185
SUPERCPTH16                  185
SPECS16                      185
SPECSPTH16                   185
SUPERC16                     185
FFR16                        185
CONVSPTH16                   185
CONVS16                      185
SNAP_BBCE16                  185
RECFAC16                     185
FFRPTH16                     185
FSR16                        185
RECFACPTH16                  185
FSRPTH16                     185
PCT_WICWOMEN16               185
PCT_WICINFANTCHILD16         185
PCH_WICWOMEN_14_16           185
GROC16                       185
GROCPTH16                    185
PCH_WICINFANTCHILD_14_16     185
State                          0
County                         0
FIPS                           0
dtype: int64

In [421]:
missing_sum = pivot_df.isnull().sum()
missing_percent = 100 * pivot_df.isnull().mean()
missing = pd.concat([missing_sum, missing_percent], axis=1)
missing = missing.sort_values([0, 1], ascending=False)

missing = missing.rename(columns = {1:'Percent'})
missing = missing.rename(columns = {0:'Sum'})

missing[missing.Percent > 50]

                        Sum    Percent
Variable_Code
CACFP_PART_2016        3277  98.467548
NSLP_PART_2016         3277  98.467548
SBP_PART_2016          3277  98.467548
SFSP_PART_2016         3277  98.467548
State_Population_2016  3277  98.467548
WIC_PART_2016          3277  98.467548

The above columns ('CACFP_PART_2016', 'NSLP_PART_2016', 'SBP_PART_2016', 'SFSP_PART_2016', 'State_Population_2016', 'WIC_PART_2016') are all state totals. Instead of dropping these columns, I am going to input the state total for every county in the state. This will allow me to keep these columns as part of the data.

In [422]:
def fill_missing(df, col):
    state_total = df.groupby("State")[col].sum().to_dict()
    df[col] = df[col].fillna(df["State"].map(state_total))
    return df[col]

fill_missing(pivot_df, 'CACFP_PART_2016')

0        59447.50
1        10039.00
2        42618.00
3        66903.00
4       595088.25
          ...
3323      7532.75
3324      7532.75
3325      7532.75
3326      7532.75
3327      7532.75
Name: CACFP_PART_2016, Length: 3328, dtype: float64

In [423]:
# Checking my method. It works!
pivot_df[pivot_df['State']=='AK']['CACFP_PART_2016']

1      10039.0
118    10039.0
119    10039.0
120    10039.0
121    10039.0
122    10039.0
123    10039.0
124    10039.0
125    10039.0
126    10039.0
127    10039.0
128    10039.0
129    10039.0
130    10039.0
131    10039.0
132    10039.0
133    10039.0
134    10039.0
135    10039.0
136    10039.0
137    10039.0
138    10039.0
139    10039.0
140    10039.0
141    10039.0
142    10039.0
143    10039.0
144    10039.0
145    10039.0
146    10039.0
147    10039.0
148    10039.0
149    10039.0
150    10039.0
151    10039.0
152    10039.0
153    10039.0
154    10039.0
155    10039.0
156    10039.0
157    10039.0
158    10039.0
159    10039.0
160    10039.0
161    10039.0
162    10039.0
163    10039.0
164    10039.0
165    10039.0
166    10039.0
167    10039.0
168    10039.0
169    10039.0
170    10039.0
171    10039.0
172    10039.0
173    10039.0
174    10039.0
175    10039.0
Name: CACFP_PART_2016, dtype: float64

In [424]:
fill_missing(pivot_df, 'NSLP_PART_2016')
fill_missing(pivot_df, 'SBP_PART_2016')
fill_missing(pivot_df, 'SFSP_PART_2016')
fill_missing(pivot_df, 'State_Population_2016')
fill_missing(pivot_df, 'WIC_PART_2016')

0       1.291599e+05
1       1.912092e+04
2       1.639978e+05
3       8.055467e+04
4       1.174875e+06
            ...
3323    1.078283e+04
3324    1.078283e+04
3325    1.078283e+04
3326    1.078283e+04
3327    1.078283e+04
Name: WIC_PART_2016, Length: 3328, dtype: float64

In [425]:
pivot_df.isna().sum().sort_values(ascending=False)

Variable_Code
PCH_PC_WIC_REDEMP_11_16     1520
PC_WIC_REDEMP16             1471
PCH_SPECS_11_16              435
PCH_SPECSPTH_11_16           432
PCH_WICSPTH_11_16            347
WICSPTH16                    346
PCH_REDEMP_WICS_11_16        345
PCH_WICS_11_16               344
WICS16                       343
REDEMP_WICS16                343
PCH_RECFAC_11_16             328
PCH_RECFACPTH_11_16          328
PCH_SUPERC_11_16             318
PCH_SUPERCPTH_11_16          317
PCH_FFR_11_16                242
PCH_FFRPTH_11_16             237
PCH_FSR_11_16                213
PCH_CONVS_11_16              211
PCH_FSRPTH_11_16             208
PCH_GROC_11_16               206
PCH_CONVSPTH_11_16           206
PCH_GROCPTH_11_16            201
Population_Estimate_2016     186
SUPERC16                     185
RECFAC16                     185
RECFACPTH16                  185
CONVS16                      185
SNAP_CAP16                   185
SPECSPTH16                   185
SNAP_BBCE16                  185
PCT_WICWOMEN16               185
SNAP_OAPP16                  185
SNAP_PART_RATE16             185
CONVSPTH16                   185
FFRPTH16                     185
PCT_WICINFANTCHILD16         185
PCH_WICWOMEN_14_16           185
FFR16                        185
PCH_WICINFANTCHILD_14_16     185
FSR16                        185
SUPERCPTH16                  185
FSRPTH16                     185
GROC16                       185
GROCPTH16                    185
SPECS16                      185
SNAP_REPORTSIMPLE16          185
State_Population_2016          0
FIPS                           0
SFSP_PART_2016                 0
SBP_PART_2016                  0
State                          0
NSLP_PART_2016                 0
CACFP_PART_2016                0
County                         0
WIC_PART_2016                  0
dtype: int64

PCH_PC_WIC_REDEMP_11_16 is WIC redemptions per capita (% change), 2011-2016. Since I am not including any data from 2011, I am going to drop this column. It also happens to be a column with many missing values.

In [426]:
pivot_df = pivot_df.drop('PCH_PC_WIC_REDEMP_11_16', axis=1)

As with the column above, I will drop every column that contains a year other than 2016.

In [427]:
pivot_df = pivot_df[pivot_df.columns.drop(list(pivot_df.filter(regex='11|14')))]
pivot_df.columns

Index(['FIPS', 'State', 'County', 'CACFP_PART_2016', 'CONVS16', 'CONVSPTH16',
       'FFR16', 'FFRPTH16', 'FSR16', 'FSRPTH16', 'GROC16', 'GROCPTH16',
       'NSLP_PART_2016', 'PCT_WICINFANTCHILD16', 'PCT_WICWOMEN16',
       'PC_WIC_REDEMP16', 'Population_Estimate_2016', 'RECFAC16',
       'RECFACPTH16', 'REDEMP_WICS16', 'SBP_PART_2016', 'SFSP_PART_2016',
       'SNAP_BBCE16', 'SNAP_CAP16', 'SNAP_OAPP16', 'SNAP_PART_RATE16',
       'SNAP_REPORTSIMPLE16', 'SPECS16', 'SPECSPTH16', 'SUPERC16',
       'SUPERCPTH16', 'State_Population_2016', 'WICS16', 'WICSPTH16',
       'WIC_PART_2016'],
      dtype='object', name='Variable_Code')

Checking for null values after removing columns containing dates other than 2016.

In [428]:
pivot_df.isna().sum().sort_values(ascending=False)

Variable_Code
PC_WIC_REDEMP16             1471
WICSPTH16                    346
WICS16                       343
REDEMP_WICS16                343
Population_Estimate_2016     186
RECFAC16                     185
SNAP_PART_RATE16             185
SNAP_OAPP16                  185
SNAP_CAP16                   185
SNAP_BBCE16                  185
SPECSPTH16                   185
SUPERC16                     185
RECFACPTH16                  185
SUPERCPTH16                  185
PCT_WICINFANTCHILD16         185
PCT_WICWOMEN16               185
SPECS16                      185
GROCPTH16                    185
GROC16                       185
FSRPTH16                     185
FSR16                        185
FFRPTH16                     185
FFR16                        185
CONVSPTH16                   185
CONVS16                      185
SNAP_REPORTSIMPLE16          185
State_Population_2016          0
FIPS                           0
SFSP_PART_2016                 0
SBP_PART_2016                  0
State                          0
NSLP_PART_2016                 0
CACFP_PART_2016                0
County                         0
WIC_PART_2016                  0
dtype: int64

WIC is the Special Supplemental Nutrition Program for Women, Infants, and Children (WIC). For more information, please visit this link: https://www.fns.usda.gov/wic

I am dropping the column, PC_WIC_REDEMP16. This column is missing 1471 values, and I believe I can access information regarding WIC through other variables such as WICSPTH16 (WIC-authorized stores/1,000 pop), WICS16 (WIC-authorized stores), REDEMP_WICS16 (WIC redemptions/WIC-authorized stores), PCT_WICINFANTCHILD16 (WIC % infant and children participants), and PCT_WICWOMEN16 (WIC % women participants).

These columns are also missing quite a few values, but I will impute the median value by state for each missing value.

In [429]:
pivot_df = pivot_df.drop('PC_WIC_REDEMP16', axis=1)

In [430]:
def impute_median(df, col):
    state_total = df.groupby("State")[col].median().to_dict()
    df[col] = df[col].fillna(df["State"].map(state_total))
    return df[col]

In [431]:
impute_median(pivot_df, 'WICSPTH16')
impute_median(pivot_df, 'WICS16')
impute_median(pivot_df, 'REDEMP_WICS16')
impute_median(pivot_df, 'PCT_WICINFANTCHILD16')
impute_median(pivot_df, 'PCT_WICWOMEN16')

0       3.309759
1       3.065642
2       2.850142
3       3.595835
4       3.249196
          ...
3323    2.375607
3324    2.375607
3325    2.375607
3326    2.375607
3327    2.375607
Name: PCT_WICWOMEN16, Length: 3328, dtype: float64

In [432]:
pivot_df.isna().sum().sort_values(ascending=True)

Variable_Code
FIPS                          0
WICS16                        0
State_Population_2016         0
SFSP_PART_2016                0
SBP_PART_2016                 0
REDEMP_WICS16                 0
WICSPTH16                     0
PCT_WICWOMEN16                0
PCT_WICINFANTCHILD16          0
NSLP_PART_2016                0
WIC_PART_2016                 0
State                         0
County                        0
CACFP_PART_2016               0
GROCPTH16                   185
SUPERCPTH16                 185
SUPERC16                    185
SPECSPTH16                  185
SPECS16                     185
SNAP_REPORTSIMPLE16         185
SNAP_PART_RATE16            185
SNAP_OAPP16                 185
SNAP_CAP16                  185
SNAP_BBCE16                 185
CONVS16                     185
CONVSPTH16                  185
RECFACPTH16                 185
FFR16                       185
FFRPTH16                    185
FSR16                       185
FSRPTH16                    185
GROC16                      185
RECFAC16                    185
Population_Estimate_2016    186
dtype: int64

SNAP is the Supplemental Nutrition Assistance Program. SNAP offers benefits on EBT cards for low income families to supplement their grocery store budgets. Read more about SNAP here: https://www.fns.usda.gov/snap/supplemental-nutrition-assistance-program

I am going to impute the median value by state for each county row for the column, SNAP_PART_RATE16. This column represents SNAP participants (% eligible population).

In [433]:
impute_median(pivot_df, 'SNAP_PART_RATE16')

0       86.898
1       71.454
2       73.500
3       72.327
4       71.944
         ...
3323    56.037
3324    56.037
3325    56.037
3326    56.037
3327    56.037
Name: SNAP_PART_RATE16, Length: 3328, dtype: float64

In [434]:
pivot_df[['GROC16']]

Variable_Code  GROC16
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
...               ...
3323              4.0
3324             11.0
3325              2.0
3326              2.0
3327              4.0

[3328 rows x 1 columns]

In [435]:
pivot_df[pivot_df.index==0]

Variable_Code,FIPS,State,County,CACFP_PART_2016,CONVS16,CONVSPTH16,FFR16,FFRPTH16,FSR16,FSRPTH16,...,SNAP_PART_RATE16,SNAP_REPORTSIMPLE16,SPECS16,SPECSPTH16,SUPERC16,SUPERCPTH16,State_Population_2016,WICS16,WICSPTH16,WIC_PART_2016
0,1,AL,total,59447.5,NaN,NaN,NaN,NaN,NaN,NaN,...,86.898,NaN,NaN,NaN,NaN,NaN,4864745.0,6.0,0.178992,129159.9167

In [436]:
pivot_df[pivot_df.index==1]

Variable_Code,FIPS,State,County,CACFP_PART_2016,CONVS16,CONVSPTH16,FFR16,FFRPTH16,FSR16,FSRPTH16,...,SNAP_PART_RATE16,SNAP_REPORTSIMPLE16,SPECS16,SPECSPTH16,SUPERC16,SUPERCPTH16,State_Population_2016,WICS16,WICSPTH16,WIC_PART_2016
1,2,AK,total,10039.0,NaN,NaN,NaN,NaN,NaN,NaN,...,71.454,NaN,NaN,NaN,NaN,NaN,741504.0,3.0,0.615642,19120.9167

In [437]:
pivot_df[pivot_df.index==3]

Variable_Code,FIPS,State,County,CACFP_PART_2016,CONVS16,CONVSPTH16,FFR16,FFRPTH16,FSR16,FSRPTH16,...,SNAP_PART_RATE16,SNAP_REPORTSIMPLE16,SPECS16,SPECSPTH16,SUPERC16,SUPERCPTH16,State_Population_2016,WICS16,WICSPTH16,WIC_PART_2016
3,5,AR,total,66903.0,NaN,NaN,NaN,NaN,NaN,NaN,...,72.327,NaN,NaN,NaN,NaN,NaN,2990410.0,4.0,0.147361,80554.6667

It looks like observations that are missing values for GROC16 are also missing many other column values; therefore, I am going to drop all observations with missing data for GROC16.

In [438]:
pivot_df = pivot_df[pivot_df['GROC16'].notna()]

In [439]:
pivot_df[['GROC16']]

Variable_Code  GROC16
51                3.0
52               29.0
53                4.0
54                5.0
55                5.0
...               ...
3323              4.0
3324             11.0
3325              2.0
3326              2.0
3327              4.0

[3143 rows x 1 columns]

In [440]:
pivot_df.isna().sum().sort_values(ascending=False)

Variable_Code
Population_Estimate_2016    135
FIPS                          0
SNAP_REPORTSIMPLE16           0
SFSP_PART_2016                0
SNAP_BBCE16                   0
SNAP_CAP16                    0
SNAP_OAPP16                   0
SNAP_PART_RATE16              0
SPECS16                       0
REDEMP_WICS16                 0
SPECSPTH16                    0
SUPERC16                      0
SUPERCPTH16                   0
State_Population_2016         0
WICS16                        0
WICSPTH16                     0
SBP_PART_2016                 0
RECFACPTH16                   0
State                         0
RECFAC16                      0
PCT_WICWOMEN16                0
PCT_WICINFANTCHILD16          0
NSLP_PART_2016                0
GROCPTH16                     0
GROC16                        0
FSRPTH16                      0
FSR16                         0
FFRPTH16                      0
FFR16                         0
CONVSPTH16                    0
CONVS16                       0
CACFP_PART_2016               0
County                        0
WIC_PART_2016                 0
dtype: int64

The only column that still contains missing values is Population_Estimate_2016, so I will use the Population_Estimate_2016 column from the counties DataFrame.

In [441]:
pivot_df = pivot_df.drop('Population_Estimate_2016', axis=1)

In [442]:
pivot_df = pd.merge(pivot_df, counties, on='FIPS')

In [443]:
pivot_df.isna().sum()

Variable_Code
FIPS                        0
State                       0
County                      0
CACFP_PART_2016             0
CONVS16                     0
CONVSPTH16                  0
FFR16                       0
FFRPTH16                    0
FSR16                       0
FSRPTH16                    0
GROC16                      0
GROCPTH16                   0
NSLP_PART_2016              0
PCT_WICINFANTCHILD16        0
PCT_WICWOMEN16              0
RECFAC16                    0
RECFACPTH16                 0
REDEMP_WICS16               0
SBP_PART_2016               0
SFSP_PART_2016              0
SNAP_BBCE16                 0
SNAP_CAP16                  0
SNAP_OAPP16                 0
SNAP_PART_RATE16            0
SNAP_REPORTSIMPLE16         0
SPECS16                     0
SPECSPTH16                  0
SUPERC16                    0
SUPERCPTH16                 0
State_Population_2016       0
WICS16                      0
WICSPTH16                   0
WIC_PART_2016               0
Population_Estimate_2016    0
dtype: int64

### Changing data types

In [444]:
pivot_df.dtypes

Variable_Code
FIPS                          int64
State                        object
County                       object
CACFP_PART_2016             float64
CONVS16                     float64
CONVSPTH16                  float64
FFR16                       float64
FFRPTH16                    float64
FSR16                       float64
FSRPTH16                    float64
GROC16                      float64
GROCPTH16                   float64
NSLP_PART_2016              float64
PCT_WICINFANTCHILD16        float64
PCT_WICWOMEN16              float64
RECFAC16                    float64
RECFACPTH16                 float64
REDEMP_WICS16               float64
SBP_PART_2016               float64
SFSP_PART_2016              float64
SNAP_BBCE16                 float64
SNAP_CAP16                  float64
SNAP_OAPP16                 float64
SNAP_PART_RATE16            float64
SNAP_REPORTSIMPLE16         float64
SPECS16                     float64
SPECSPTH16                  float64
SUPERC16                    float64
SUPERCPTH16                 float64
State_Population_2016       float64
WICS16                      float64
WICSPTH16                   float64
WIC_PART_2016               float64
Population_Estimate_2016      int64
dtype: object

#### State_Population_2016
This should not be a float variable because people cannot be counted as decimals.

In [445]:
pivot_df['State_Population_2016'] = pivot_df['State_Population_2016'].astype('int')

#### Population_Estimate_2016
This should not be a float variable for the same reason as State_Population_2016. People are counted in whole numbers.

In [446]:
pivot_df['Population_Estimate_2016'] = pivot_df['Population_Estimate_2016'].astype('int')

#### Grocery and Convenience stores
The columns listed below are all counts of physical locations, so they cannot be floats. They must be integers.

In [447]:
pivot_df['GROC16'] = pivot_df['GROC16'].astype('int') # Count of grocery stores
pivot_df['CONVS16'] = pivot_df['CONVS16'].astype('int') # Count of convenience stores
pivot_df['RECFAC16'] = pivot_df['RECFAC16'].astype('int') # Count of recreation & fitness facilities
pivot_df['SPECS16'] = pivot_df['SPECS16'].astype('int') # Count of specialized food stores
pivot_df['SUPERC16'] = pivot_df['SUPERC16'].astype('int') # Count of supercenters & club stores
pivot_df['FFR16'] = pivot_df['FFR16'].astype('int') # Count of fast-food restaurants
pivot_df['FSR16'] = pivot_df['FSR16'].astype('int') # Count of full-service restaurants

In [448]:
pivot_df.dtypes

Variable_Code
FIPS                          int64
State                        object
County                       object
CACFP_PART_2016             float64
CONVS16                       int64
CONVSPTH16                  float64
FFR16                         int64
FFRPTH16                    float64
FSR16                         int64
FSRPTH16                    float64
GROC16                        int64
GROCPTH16                   float64
NSLP_PART_2016              float64
PCT_WICINFANTCHILD16        float64
PCT_WICWOMEN16              float64
RECFAC16                      int64
RECFACPTH16                 float64
REDEMP_WICS16               float64
SBP_PART_2016               float64
SFSP_PART_2016              float64
SNAP_BBCE16                 float64
SNAP_CAP16                  float64
SNAP_OAPP16                 float64
SNAP_PART_RATE16            float64
SNAP_REPORTSIMPLE16         float64
SPECS16                       int64
SPECSPTH16                  float64
SUPERC16                      int64
SUPERCPTH16                 float64
State_Population_2016         int64
WICS16                      float64
WICSPTH16                   float64
WIC_PART_2016               float64
Population_Estimate_2016      int64
dtype: object

All columns pertaining to counts of stores per 1,000 people must also be integers.

In [449]:
pivot_df['RECFACPTH16'] = pivot_df['RECFACPTH16'].astype('int') # Count of recreation & fitness facilities per 1,000 pop
pivot_df['CONVSPTH16'] = pivot_df['CONVSPTH16'].astype('int') # Count of convenience stores per 1,000 pop
pivot_df['FFRPTH16'] = pivot_df['FFRPTH16'].astype('int') # Count of fast-food restaurants per 1,000 pop
pivot_df['FSRPTH16'] = pivot_df['FSRPTH16'].astype('int') # Count of full-service restaurants per 1,000 pop
pivot_df['GROCPTH16'] = pivot_df['GROCPTH16'].astype('int') # Count of grocery stores per 1,000 pop
pivot_df['SPECSPTH16'] = pivot_df['SPECSPTH16'].astype('int') # Count of specialized food stores per 1,000 pop
pivot_df['SUPERCPTH16'] = pivot_df['SUPERCPTH16'].astype('int') # Count of supercenter food & club stores per 1,000 pop

In [450]:
pivot_df.dtypes

Variable_Code
FIPS                          int64
State                        object
County                       object
CACFP_PART_2016             float64
CONVS16                       int64
CONVSPTH16                    int64
FFR16                         int64
FFRPTH16                      int64
FSR16                         int64
FSRPTH16                      int64
GROC16                        int64
GROCPTH16                     int64
NSLP_PART_2016              float64
PCT_WICINFANTCHILD16        float64
PCT_WICWOMEN16              float64
RECFAC16                      int64
RECFACPTH16                   int64
REDEMP_WICS16               float64
SBP_PART_2016               float64
SFSP_PART_2016              float64
SNAP_BBCE16                 float64
SNAP_CAP16                  float64
SNAP_OAPP16                 float64
SNAP_PART_RATE16            float64
SNAP_REPORTSIMPLE16         float64
SPECS16                       int64
SPECSPTH16                    int64
SUPERC16                      int64
SUPERCPTH16                   int64
State_Population_2016         int64
WICS16                      float64
WICSPTH16                   float64
WIC_PART_2016               float64
Population_Estimate_2016      int64
dtype: object

#### Next Steps
pivot_df contains information regarding food stores, restaurants, nutrition programs, and basic population data. The next step in my data wrangling and cleaning process is to add more demographic data from 2016. I will do this using census data: https://data.census.gov/table/ACSST1Y2016.S1701?q=2016%20demographic&t=Income%20and%20Poverty&g=010XX00US

## Demographic Data

### Income Data

In [451]:
income_file = 'Income.csv'
income = pd.read_csv(income_file)

income contains income data by state by household status. I might include this later if I need to add more demographic data.

In [452]:
income.head()

,Label (Grouping),United States!!Households!!Estimate,United States!!Households!!Margin of Error,United States!!Families!!Estimate,United States!!Families!!Margin of Error,United States!!Married-couple families!!Estimate,United States!!Married-couple families!!Margin of Error,United States!!Nonfamily households!!Estimate,United States!!Nonfamily households!!Margin of Error,Alabama!!Households!!Estimate,...,Wyoming!!Nonfamily households!!Estimate,Wyoming!!Nonfamily households!!Margin of Error,Puerto Rico!!Households!!Estimate,Puerto Rico!!Households!!Margin of Error,Puerto Rico!!Families!!Estimate,Puerto Rico!!Families!!Margin of Error,Puerto Rico!!Married-couple families!!Estimate,Puerto Rico!!Married-couple families!!Margin of Error,Puerto Rico!!Nonfamily households!!Estimate,Puerto Rico!!Nonfamily households!!Margin of Error
0,Total,"118,860,065","±154,606","77,785,962","±125,088","56,967,798","±148,592","41,074,103","±103,964","1,852,518",...,"78,095","±3,889","1,208,438","±9,900","836,332","±9,750","464,172","±8,435","372,106","±8,634"
1,"Less than $10,000",6.7%,±0.1,4.0%,±0.1,1.5%,±0.1,12.9%,±0.1,9.5%,...,11.7%,±2.0,28.3%,±0.6,22.5%,±0.7,11.1%,±0.6,44.6%,±1.2
2,"$10,000 to $14,999",4.8%,±0.1,2.7%,±0.1,1.4%,±0.1,9.2%,±0.1,6.5%,...,8.8%,±1.8,11.6%,±0.5,10.0%,±0.6,9.1%,±0.6,15.8%,±0.9
3,"$15,000 to $24,999",9.7%,±0.1,7.1%,±0.1,4.4%,±0.1,15.5%,±0.1,12.2%,...,18.5%,±2.2,18.1%,±0.5,18.9%,±0.6,18.8%,±0.9,16.6%,±0.9
4,"$25,000 to $34,999",9.5%,±0.1,8.1%,±0.1,6.3%,±0.1,12.5%,±0.1,11.1%,...,13.3%,±2.0,12.4%,±0.4,14.2%,±0.6,15.4%,±0.8,8.5%,±0.7

In [453]:
income.columns

Index(['Label (Grouping)', 'United States!!Households!!Estimate',
       'United States!!Households!!Margin of Error',
       'United States!!Families!!Estimate',
       'United States!!Families!!Margin of Error',
       'United States!!Married-couple families!!Estimate',
       'United States!!Married-couple families!!Margin of Error',
       'United States!!Nonfamily households!!Estimate',
       'United States!!Nonfamily households!!Margin of Error',
       'Alabama!!Households!!Estimate',
       ...
       'Wyoming!!Nonfamily households!!Estimate',
       'Wyoming!!Nonfamily households!!Margin of Error',
       'Puerto Rico!!Households!!Estimate',
       'Puerto Rico!!Households!!Margin of Error',
       'Puerto Rico!!Families!!Estimate',
       'Puerto Rico!!Families!!Margin of Error',
       'Puerto Rico!!Married-couple families!!Estimate',
       'Puerto Rico!!Married-couple families!!Margin of Error',
       'Puerto Rico!!Nonfamily households!!Estimate',
       'Puerto Rico!!Nonfamily households!!Margin of Error'],
      dtype='object', length=425)

In [454]:
income = income.drop(['Puerto Rico!!Households!!Estimate','Puerto Rico!!Households!!Margin of Error',
       'Puerto Rico!!Families!!Estimate',
       'Puerto Rico!!Families!!Margin of Error',
       'Puerto Rico!!Married-couple families!!Estimate',
       'Puerto Rico!!Married-couple families!!Margin of Error',
       'Puerto Rico!!Nonfamily households!!Estimate',
       'Puerto Rico!!Nonfamily households!!Margin of Error'], axis=1)

In [455]:
income.columns

Index(['Label (Grouping)', 'United States!!Households!!Estimate',
       'United States!!Households!!Margin of Error',
       'United States!!Families!!Estimate',
       'United States!!Families!!Margin of Error',
       'United States!!Married-couple families!!Estimate',
       'United States!!Married-couple families!!Margin of Error',
       'United States!!Nonfamily households!!Estimate',
       'United States!!Nonfamily households!!Margin of Error',
       'Alabama!!Households!!Estimate',
       ...
       'Wisconsin!!Nonfamily households!!Estimate',
       'Wisconsin!!Nonfamily households!!Margin of Error',
       'Wyoming!!Households!!Estimate', 'Wyoming!!Households!!Margin of Error',
       'Wyoming!!Families!!Estimate', 'Wyoming!!Families!!Margin of Error',
       'Wyoming!!Married-couple families!!Estimate',
       'Wyoming!!Married-couple families!!Margin of Error',
       'Wyoming!!Nonfamily households!!Estimate',
       'Wyoming!!Nonfamily households!!Margin of Error'],
      dtype='object', length=417)

In [456]:
income = income.drop(['United States!!Households!!Margin of Error',
       'United States!!Families!!Estimate',
       'United States!!Families!!Margin of Error',
       'United States!!Married-couple families!!Estimate',
       'United States!!Married-couple families!!Margin of Error',
       'United States!!Nonfamily households!!Estimate',
       'United States!!Nonfamily households!!Margin of Error'], axis=1)

In [457]:
income.columns

Index(['Label (Grouping)', 'United States!!Households!!Estimate',
       'Alabama!!Households!!Estimate', 'Alabama!!Households!!Margin of Error',
       'Alabama!!Families!!Estimate', 'Alabama!!Families!!Margin of Error',
       'Alabama!!Married-couple families!!Estimate',
       'Alabama!!Married-couple families!!Margin of Error',
       'Alabama!!Nonfamily households!!Estimate',
       'Alabama!!Nonfamily households!!Margin of Error',
       ...
       'Wisconsin!!Nonfamily households!!Estimate',
       'Wisconsin!!Nonfamily households!!Margin of Error',
       'Wyoming!!Households!!Estimate', 'Wyoming!!Households!!Margin of Error',
       'Wyoming!!Families!!Estimate', 'Wyoming!!Families!!Margin of Error',
       'Wyoming!!Married-couple families!!Estimate',
       'Wyoming!!Married-couple families!!Margin of Error',
       'Wyoming!!Nonfamily households!!Estimate',
       'Wyoming!!Nonfamily households!!Margin of Error'],
      dtype='object', length=410)

In [458]:
income = income.drop('United States!!Households!!Estimate', axis=1)

In [459]:
state_names = ['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY']

In [460]:
income.columns = income.columns.str.replace(r'[^\w\s]', '', regex=True)

In [461]:
income.columns

Index(['Label Grouping', 'AlabamaHouseholdsEstimate',
       'AlabamaHouseholdsMargin of Error', 'AlabamaFamiliesEstimate',
       'AlabamaFamiliesMargin of Error',
       'AlabamaMarriedcouple familiesEstimate',
       'AlabamaMarriedcouple familiesMargin of Error',
       'AlabamaNonfamily householdsEstimate',
       'AlabamaNonfamily householdsMargin of Error',
       'AlaskaHouseholdsEstimate',
       ...
       'WisconsinNonfamily householdsEstimate',
       'WisconsinNonfamily householdsMargin of Error',
       'WyomingHouseholdsEstimate', 'WyomingHouseholdsMargin of Error',
       'WyomingFamiliesEstimate', 'WyomingFamiliesMargin of Error',
       'WyomingMarriedcouple familiesEstimate',
       'WyomingMarriedcouple familiesMargin of Error',
       'WyomingNonfamily householdsEstimate',
       'WyomingNonfamily householdsMargin of Error'],
      dtype='object', length=409)

In [462]:
cols_to_drop = income.columns[income.columns.str.contains('Margin')]
income.drop(cols_to_drop, axis=1, inplace=True)

In [463]:
income.columns = income.columns.str.replace(' ', '', regex=True)

In [464]:
income.columns

Index(['LabelGrouping', 'AlabamaHouseholdsEstimate', 'AlabamaFamiliesEstimate',
       'AlabamaMarriedcouplefamiliesEstimate',
       'AlabamaNonfamilyhouseholdsEstimate', 'AlaskaHouseholdsEstimate',
       'AlaskaFamiliesEstimate', 'AlaskaMarriedcouplefamiliesEstimate',
       'AlaskaNonfamilyhouseholdsEstimate', 'ArizonaHouseholdsEstimate',
       ...
       'WestVirginiaMarriedcouplefamiliesEstimate',
       'WestVirginiaNonfamilyhouseholdsEstimate',
       'WisconsinHouseholdsEstimate', 'WisconsinFamiliesEstimate',
       'WisconsinMarriedcouplefamiliesEstimate',
       'WisconsinNonfamilyhouseholdsEstimate', 'WyomingHouseholdsEstimate',
       'WyomingFamiliesEstimate', 'WyomingMarriedcouplefamiliesEstimate',
       'WyomingNonfamilyhouseholdsEstimate'],
      dtype='object', length=205)

In [465]:
income.isna().sum()

LabelGrouping                           0
AlabamaHouseholdsEstimate               1
AlabamaFamiliesEstimate                 1
AlabamaMarriedcouplefamiliesEstimate    1
AlabamaNonfamilyhouseholdsEstimate      1
                                       ..
WisconsinNonfamilyhouseholdsEstimate    1
WyomingHouseholdsEstimate               1
WyomingFamiliesEstimate                 1
WyomingMarriedcouplefamiliesEstimate    1
WyomingNonfamilyhouseholdsEstimate      1
Length: 205, dtype: int64

In [466]:
income.head()

,LabelGrouping,AlabamaHouseholdsEstimate,AlabamaFamiliesEstimate,AlabamaMarriedcouplefamiliesEstimate,AlabamaNonfamilyhouseholdsEstimate,AlaskaHouseholdsEstimate,AlaskaFamiliesEstimate,AlaskaMarriedcouplefamiliesEstimate,AlaskaNonfamilyhouseholdsEstimate,ArizonaHouseholdsEstimate,...,WestVirginiaMarriedcouplefamiliesEstimate,WestVirginiaNonfamilyhouseholdsEstimate,WisconsinHouseholdsEstimate,WisconsinFamiliesEstimate,WisconsinMarriedcouplefamiliesEstimate,WisconsinNonfamilyhouseholdsEstimate,WyomingHouseholdsEstimate,WyomingFamiliesEstimate,WyomingMarriedcouplefamiliesEstimate,WyomingNonfamilyhouseholdsEstimate
0,Total,"1,852,518","1,208,362","864,330","644,156","248,468","164,102","122,168","84,366","2,519,052",...,"347,095","254,729","2,326,998","1,460,922","1,129,359","866,076","223,619","145,524","117,038","78,095"
1,"Less than $10,000",9.5%,5.6%,2.0%,17.8%,3.6%,2.7%,0.8%,7.1%,7.3%,...,2.5%,18.5%,5.4%,3.0%,1.1%,10.5%,5.2%,2.1%,1.4%,11.7%
2,"$10,000 to $14,999",6.5%,3.4%,1.6%,12.5%,2.9%,1.4%,0.5%,6.4%,4.9%,...,2.0%,12.5%,4.8%,2.2%,0.9%,9.4%,4.5%,2.2%,1.5%,8.8%
3,"$15,000 to $24,999",12.2%,9.3%,5.8%,18.4%,6.5%,4.5%,2.7%,11.4%,9.8%,...,6.4%,20.0%,9.8%,6.1%,3.6%,17.0%,9.9%,5.7%,4.1%,18.5%
4,"$25,000 to $34,999",11.1%,9.9%,7.7%,13.5%,6.9%,5.1%,3.6%,10.4%,10.1%,...,8.7%,15.3%,9.9%,7.6%,5.7%,14.2%,9.2%,7.5%,6.0%,13.3%

### Demographic data

#### Importing Demographic Data

In [467]:
demographic_file = 'Demographics.csv'
demo = pd.read_csv(demographic_file)

#### Exploring data
demo contains demographic data by state, including information regarding age, employment status, educational attainment, etc.

I will organize the data to eventually merge with pivot_df.

In [468]:
demo.head()

,Label (Grouping),United States!!Total!!Estimate,United States!!Total!!Margin of Error,United States!!Below poverty level!!Estimate,United States!!Below poverty level!!Margin of Error,United States!!Percent below poverty level!!Estimate,United States!!Percent below poverty level!!Margin of Error,Alabama!!Total!!Estimate,Alabama!!Total!!Margin of Error,Alabama!!Below poverty level!!Estimate,...,Wyoming!!Below poverty level!!Estimate,Wyoming!!Below poverty level!!Margin of Error,Wyoming!!Percent below poverty level!!Estimate,Wyoming!!Percent below poverty level!!Margin of Error,Puerto Rico!!Total!!Estimate,Puerto Rico!!Total!!Margin of Error,Puerto Rico!!Below poverty level!!Estimate,Puerto Rico!!Below poverty level!!Margin of Error,Puerto Rico!!Percent below poverty level!!Estimate,Puerto Rico!!Percent below poverty level!!Margin of Error
0,Population for whom poverty status is determined,"315,165,470","±22,993","44,268,996","±246,910",14.0%,±0.1,"4,741,329","±2,442","810,231",...,"64,663","±5,547",11.3%,±1.0,"3,379,483","±1,634","1,469,382","±26,573",43.5%,±0.8
1,AGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Under 18 years,"72,452,603","±38,990","14,115,713","±139,368",19.5%,±0.2,"1,084,701","±4,003","265,901",...,"15,367","±2,619",11.1%,±1.9,"692,187","±1,660","390,352","±10,709",56.4%,±1.6
3,Under 5 years,"19,473,767","±22,803","4,156,949","±48,552",21.3%,±0.2,"283,154","±3,355","77,658",...,"4,882","±1,317",13.1%,±3.4,"159,168","±1,625","101,856","±3,873",64.0%,±2.3
4,5 to 17 years,"52,978,836","±34,187","9,958,764","±99,801",18.8%,±0.2,"801,547","±4,153","188,243",...,"10,485","±2,067",10.4%,±2.0,"533,019","±2,042","288,496","±8,884",54.1%,±1.7

#### Organizing data
I am going to drop columns for the United States overall as well as Puerto Rico. My data from pivot_df does not contain United States country data or data for Puerto Rico, so I want to drop these columns.

In [469]:
cols_to_drop1 = demo.columns[demo.columns.str.contains('United')]
demo.drop(cols_to_drop1, axis=1, inplace=True)

In [470]:
cols_to_drop2 = demo.columns[demo.columns.str.contains('Puerto')]
demo.drop(cols_to_drop2, axis=1, inplace=True)

I am going to drop all columns pertaining to the margin of error. I will also need to drop the "BelowPoverty" columns because I want to keep demographic data for the entire population of each state. My goal is to eventually transpose the data to mirror pivot_df. To do so, I need one column for each state in the demo dataframe. I want to keep the "TotalEstimate" for each state to get an understanding of the demographics for each state.

In [471]:
cols_to_drop3 = demo.columns[demo.columns.str.contains('Margin')]
demo.drop(cols_to_drop3, axis=1, inplace=True)

In [472]:
demo.columns = demo.columns.str.replace(r'[^\w\s]', '', regex=True)

In [473]:
demo.columns = demo.columns.str.replace(' ', '', regex=True)

In [474]:
demo.columns = demo.columns.str.replace('LabelGrouping', 'State', regex=True)

In [475]:
demo.columns

Index(['State', 'AlabamaTotalEstimate', 'AlabamaBelowpovertylevelEstimate',
       'AlabamaPercentbelowpovertylevelEstimate', 'AlaskaTotalEstimate',
       'AlaskaBelowpovertylevelEstimate',
       'AlaskaPercentbelowpovertylevelEstimate', 'ArizonaTotalEstimate',
       'ArizonaBelowpovertylevelEstimate',
       'ArizonaPercentbelowpovertylevelEstimate',
       ...
       'WashingtonPercentbelowpovertylevelEstimate',
       'WestVirginiaTotalEstimate', 'WestVirginiaBelowpovertylevelEstimate',
       'WestVirginiaPercentbelowpovertylevelEstimate',
       'WisconsinTotalEstimate', 'WisconsinBelowpovertylevelEstimate',
       'WisconsinPercentbelowpovertylevelEstimate', 'WyomingTotalEstimate',
       'WyomingBelowpovertylevelEstimate',
       'WyomingPercentbelowpovertylevelEstimate'],
      dtype='object', length=154)

In [476]:
demo.head()

,State,AlabamaTotalEstimate,AlabamaBelowpovertylevelEstimate,AlabamaPercentbelowpovertylevelEstimate,AlaskaTotalEstimate,AlaskaBelowpovertylevelEstimate,AlaskaPercentbelowpovertylevelEstimate,ArizonaTotalEstimate,ArizonaBelowpovertylevelEstimate,ArizonaPercentbelowpovertylevelEstimate,...,WashingtonPercentbelowpovertylevelEstimate,WestVirginiaTotalEstimate,WestVirginiaBelowpovertylevelEstimate,WestVirginiaPercentbelowpovertylevelEstimate,WisconsinTotalEstimate,WisconsinBelowpovertylevelEstimate,WisconsinPercentbelowpovertylevelEstimate,WyomingTotalEstimate,WyomingBelowpovertylevelEstimate,WyomingPercentbelowpovertylevelEstimate
0,Population for whom poverty status is determined,"4,741,329","810,231",17.1%,"723,968","71,566",9.9%,"6,771,098","1,107,464",16.4%,...,11.3%,"1,779,919","319,063",17.9%,"5,628,565","661,565",11.8%,"571,169","64,663",11.3%
1,AGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Under 18 years,"1,084,701","265,901",24.5%,"183,790","25,938",14.1%,"1,602,166","378,800",23.6%,...,13.7%,"368,682","88,351",24.0%,"1,260,543","198,480",15.7%,"138,300","15,367",11.1%
3,Under 5 years,"283,154","77,658",27.4%,"51,200","8,132",15.9%,"428,074","106,280",24.8%,...,14.6%,"99,747","27,686",27.8%,"328,208","60,173",18.3%,"37,131","4,882",13.1%
4,5 to 17 years,"801,547","188,243",23.5%,"132,590","17,806",13.4%,"1,174,092","272,520",23.2%,...,13.3%,"268,935","60,665",22.6%,"932,335","138,307",14.8%,"101,169","10,485",10.4%

In [477]:
demo = demo.set_index('State')

In [478]:
demo.head()

,AlabamaTotalEstimate,AlabamaBelowpovertylevelEstimate,AlabamaPercentbelowpovertylevelEstimate,AlaskaTotalEstimate,AlaskaBelowpovertylevelEstimate,AlaskaPercentbelowpovertylevelEstimate,ArizonaTotalEstimate,ArizonaBelowpovertylevelEstimate,ArizonaPercentbelowpovertylevelEstimate,ArkansasTotalEstimate,...,WashingtonPercentbelowpovertylevelEstimate,WestVirginiaTotalEstimate,WestVirginiaBelowpovertylevelEstimate,WestVirginiaPercentbelowpovertylevelEstimate,WisconsinTotalEstimate,WisconsinBelowpovertylevelEstimate,WisconsinPercentbelowpovertylevelEstimate,WyomingTotalEstimate,WyomingBelowpovertylevelEstimate,WyomingPercentbelowpovertylevelEstimate
State,,,,,,,,,,,,,,,,,,,,,
Population for whom poverty status is determined,"4,741,329","810,231",17.1%,"723,968","71,566",9.9%,"6,771,098","1,107,464",16.4%,"2,898,630",...,11.3%,"1,779,919","319,063",17.9%,"5,628,565","661,565",11.8%,"571,169","64,663",11.3%
AGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Under 18 years,"1,084,701","265,901",24.5%,"183,790","25,938",14.1%,"1,602,166","378,800",23.6%,"693,626",...,13.7%,"368,682","88,351",24.0%,"1,260,543","198,480",15.7%,"138,300","15,367",11.1%
Under 5 years,"283,154","77,658",27.4%,"51,200","8,132",15.9%,"428,074","106,280",24.8%,"183,785",...,14.6%,"99,747","27,686",27.8%,"328,208","60,173",18.3%,"37,131","4,882",13.1%
5 to 17 years,"801,547","188,243",23.5%,"132,590","17,806",13.4%,"1,174,092","272,520",23.2%,"509,841",...,13.3%,"268,935","60,665",22.6%,"932,335","138,307",14.8%,"101,169","10,485",10.4%

In [479]:
demo_total = demo

In [480]:
drop = demo_total.columns[demo_total.columns.str.contains('Belowpoverty')]

In [481]:
demo_total = demo_total.drop(drop, axis=1)

In [482]:
demo_total.head()

,AlabamaTotalEstimate,AlabamaPercentbelowpovertylevelEstimate,AlaskaTotalEstimate,AlaskaPercentbelowpovertylevelEstimate,ArizonaTotalEstimate,ArizonaPercentbelowpovertylevelEstimate,ArkansasTotalEstimate,ArkansasPercentbelowpovertylevelEstimate,CaliforniaTotalEstimate,CaliforniaPercentbelowpovertylevelEstimate,...,VirginiaTotalEstimate,VirginiaPercentbelowpovertylevelEstimate,WashingtonTotalEstimate,WashingtonPercentbelowpovertylevelEstimate,WestVirginiaTotalEstimate,WestVirginiaPercentbelowpovertylevelEstimate,WisconsinTotalEstimate,WisconsinPercentbelowpovertylevelEstimate,WyomingTotalEstimate,WyomingPercentbelowpovertylevelEstimate
State,,,,,,,,,,,,,,,,,,,,,
Population for whom poverty status is determined,"4,741,329",17.1%,"723,968",9.9%,"6,771,098",16.4%,"2,898,630",17.2%,"38,513,258",14.3%,...,"8,158,241",11.0%,"7,156,306",11.3%,"1,779,919",17.9%,"5,628,565",11.8%,"571,169",11.3%
AGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Under 18 years,"1,084,701",24.5%,"183,790",14.1%,"1,602,166",23.6%,"693,626",23.8%,"8,961,540",19.9%,...,"1,835,772",14.3%,"1,604,190",13.7%,"368,682",24.0%,"1,260,543",15.7%,"138,300",11.1%
Under 5 years,"283,154",27.4%,"51,200",15.9%,"428,074",24.8%,"183,785",27.5%,"2,442,070",20.7%,...,"495,320",14.6%,"442,626",14.6%,"99,747",27.8%,"328,208",18.3%,"37,131",13.1%
5 to 17 years,"801,547",23.5%,"132,590",13.4%,"1,174,092",23.2%,"509,841",22.5%,"6,519,470",19.6%,...,"1,340,452",14.1%,"1,161,564",13.3%,"268,935",22.6%,"932,335",14.8%,"101,169",10.4%

In [483]:
drop_percent = demo_total.columns[demo_total.columns.str.contains('Percent')]
demo_total = demo_total.drop(drop_percent, axis=1)
demo_total.head()

,AlabamaTotalEstimate,AlaskaTotalEstimate,ArizonaTotalEstimate,ArkansasTotalEstimate,CaliforniaTotalEstimate,ColoradoTotalEstimate,ConnecticutTotalEstimate,DelawareTotalEstimate,DistrictofColumbiaTotalEstimate,FloridaTotalEstimate,...,SouthDakotaTotalEstimate,TennesseeTotalEstimate,TexasTotalEstimate,UtahTotalEstimate,VermontTotalEstimate,VirginiaTotalEstimate,WashingtonTotalEstimate,WestVirginiaTotalEstimate,WisconsinTotalEstimate,WyomingTotalEstimate
State,,,,,,,,,,,,,,,,,,,,,
Population for whom poverty status is determined,"4,741,329","723,968","6,771,098","2,898,630","38,513,258","5,420,327","3,469,514","926,864","647,654","20,191,342",...,"837,292","6,489,032","27,236,443","3,004,148","600,077","8,158,241","7,156,306","1,779,919","5,628,565","571,169"
AGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Under 18 years,"1,084,701","183,790","1,602,166","693,626","8,961,540","1,242,620","743,032","201,224","118,383","4,080,165",...,"210,420","1,476,765","7,211,897","910,019","116,117","1,835,772","1,604,190","368,682","1,260,543","138,300"
Under 5 years,"283,154","51,200","428,074","183,785","2,442,070","330,562","181,275","54,661","42,719","1,101,395",...,"60,048","394,709","1,985,084","250,655","30,059","495,320","442,626","99,747","328,208","37,131"
5 to 17 years,"801,547","132,590","1,174,092","509,841","6,519,470","912,058","561,757","146,563","75,664","2,978,770",...,"150,372","1,082,056","5,226,813","659,364","86,058","1,340,452","1,161,564","268,935","932,335","101,169"

In [484]:
demo_total = demo_total.set_axis(state_names, axis=1)

In [485]:
demo_total.columns = demo_total.columns.str.replace(' ', '', regex=True)

#### Transposing DataFrame to match pivot_df

In [486]:
demo_total = demo_total.T

In [487]:
demo_total.columns = demo_total.columns.str.replace('LabelGrouping','State', regex=True)
demo_total.head()

State,Population for whom poverty status is determined,AGE,Under 18 years,Under 5 years,5 to 17 years,Related children of householder under 18 years,18 to 64 years,18 to 34 years,35 to 64 years,60 years and over,...,25 to 34 years,35 to 44 years,45 to 54 years,55 to 64 years,65 to 74 years,75 years and over,Mean income deficit for unrelated individuals (dollars),"Worked full-time, year-round in the past 12 months","Worked less than full-time, year-round in the past 12 months",Did not work
AL,"4,741,329",NaN,"1,084,701","283,154","801,547","1,081,342","2,893,654","1,032,099","1,861,555","1,062,483",...,"133,911","97,430","117,433","159,452","121,556","111,694","6,613","315,932","161,509","366,298"
AK,"723,968",NaN,"183,790","51,200","132,590","182,589","465,782","187,707","278,075","116,104",...,"39,456","22,150","24,873","25,131","15,734","9,392","6,676","71,726","52,108","34,447"
AZ,"6,771,098",NaN,"1,602,166","428,074","1,174,092","1,594,976","4,009,492","1,521,583","2,487,909","1,572,644",...,"262,202","160,524","185,846","202,141","179,102","164,830","7,318","546,187","298,771","483,757"
AR,"2,898,630",NaN,"693,626","183,785","509,841","690,094","1,733,403","630,091","1,103,312","652,970",...,"91,813","57,470","73,298","96,827","78,022","71,681","6,696","204,227","104,863","231,737"
CA,"38,513,258",NaN,"8,961,540","2,442,070","6,519,470","8,921,451","24,299,744","9,389,665","14,910,079","7,439,137",...,"1,664,963","935,911","952,493","1,051,311","812,761","735,288","7,249","2,968,952","1,639,974","2,320,545"

In [488]:
demo_total.columns = demo_total.columns.str.replace(' ', '_', regex=True)

In [489]:
demo_total.columns

Index(['Population_for_whom_poverty_status_is_determined', 'AGE',
       'Under_18_years', 'Under_5_years', '5_to_17_years',
       'Related_children_of_householder_under_18_years', '18_to_64_years',
       '18_to_34_years', '35_to_64_years', '60_years_and_over',
       '65_years_and_over', 'SEX', '    Male', '    Female',
       'RACE_AND_HISPANIC_OR_LATINO_ORIGIN', '    White_alone',
       '    Black_or_African_American_alone',
       '    American_Indian_and_Alaska_Native_alone', '    Asian_alone',
       '    Native_Hawaiian_and_Other_Pacific_Islander_alone',
       '    Some_other_race_alone', '    Two_or_more_races',
       'Hispanic_or_Latino_origin_(of_any_race)',
       'White_alone,_not_Hispanic_or_Latino', 'EDUCATIONAL_ATTAINMENT',
       'Population_25_years_and_over',
       '        Less_than_high_school_graduate',
       '        High_school_graduate_(includes_equivalency)',
       '        Some_college,_associate's_degree',
       '        Bachelor's_degree_or_higher', 'EMPLOYMENT_STATUS',
       'Civilian_labor_force_16_years_and_over', '        Employed',
       '            Male', '            Female', '        Unemployed',
       '            Male', '            Female', 'WORK_EXPERIENCE',
       'Population_16_years_and_over',
       'Worked_full-time,_year-round_in_the_past_12_months',
       'Worked_part-time_or_part-year_in_the_past_12_months',
       '        Did_not_work',
       'ALL_INDIVIDUALS_WITH_INCOME_BELOW_THE_FOLLOWING_POVERTY_RATIOS',
       '50_percent_of_poverty_level', '125_percent_of_poverty_level',
       '150_percent_of_poverty_level', '185_percent_of_poverty_level',
       '200_percent_of_poverty_level', '300_percent_of_poverty_level',
       '400_percent_of_poverty_level', '500_percent_of_poverty_level',
       'UNRELATED_INDIVIDUALS_FOR_WHOM_POVERTY_STATUS_IS_DETERMINED',
       '    Male', '    Female', '15_years', '16_to_17_years',
       '18_to_24_years', '25_to_34_years', '35_to_44_years', '45_to_54_years',
       '55_to_64_years', '65_to_74_years', '75_years_and_over',
       'Mean_income_deficit_for_unrelated_individuals_(dollars)',
       'Worked_full-time,_year-round_in_the_past_12_months',
       'Worked_less_than_full-time,_year-round_in_the_past_12_months',
       'Did_not_work'],
      dtype='object', name='State')

I am going to drop the columns that contain no data. These columns were titles in the initial dataset, but they are not contributing to my current dataframe. I will add them into a list called "drop_cols".

In [490]:
drop_cols = ['AGE','SEX','RACE_AND_HISPANIC_OR_LATINO_ORIGIN','EDUCATIONAL_ATTAINMENT','EMPLOYMENT_STATUS','WORK_EXPERIENCE','ALL_INDIVIDUALS_WITH_INCOME_BELOW_THE_FOLLOWING_POVERTY_RATIOS','UNRELATED_INDIVIDUALS_FOR_WHOM_POVERTY_STATUS_IS_DETERMINED']
demo_total = demo_total.drop(drop_cols, axis=1)

In [491]:
demo_total.columns

Index(['Population_for_whom_poverty_status_is_determined', 'Under_18_years',
       'Under_5_years', '5_to_17_years',
       'Related_children_of_householder_under_18_years', '18_to_64_years',
       '18_to_34_years', '35_to_64_years', '60_years_and_over',
       '65_years_and_over', '    Male', '    Female', '    White_alone',
       '    Black_or_African_American_alone',
       '    American_Indian_and_Alaska_Native_alone', '    Asian_alone',
       '    Native_Hawaiian_and_Other_Pacific_Islander_alone',
       '    Some_other_race_alone', '    Two_or_more_races',
       'Hispanic_or_Latino_origin_(of_any_race)',
       'White_alone,_not_Hispanic_or_Latino', 'Population_25_years_and_over',
       '        Less_than_high_school_graduate',
       '        High_school_graduate_(includes_equivalency)',
       '        Some_college,_associate's_degree',
       '        Bachelor's_degree_or_higher',
       'Civilian_labor_force_16_years_and_over', '        Employed',
       '            Male', '            Female', '        Unemployed',
       '            Male', '            Female',
       'Population_16_years_and_over',
       'Worked_full-time,_year-round_in_the_past_12_months',
       'Worked_part-time_or_part-year_in_the_past_12_months',
       '        Did_not_work', '50_percent_of_poverty_level',
       '125_percent_of_poverty_level', '150_percent_of_poverty_level',
       '185_percent_of_poverty_level', '200_percent_of_poverty_level',
       '300_percent_of_poverty_level', '400_percent_of_poverty_level',
       '500_percent_of_poverty_level', '    Male', '    Female', '15_years',
       '16_to_17_years', '18_to_24_years', '25_to_34_years', '35_to_44_years',
       '45_to_54_years', '55_to_64_years', '65_to_74_years',
       '75_years_and_over',
       'Mean_income_deficit_for_unrelated_individuals_(dollars)',
       'Worked_full-time,_year-round_in_the_past_12_months',
       'Worked_less_than_full-time,_year-round_in_the_past_12_months',
       'Did_not_work'],
      dtype='object', name='State')

In [492]:
demo_total.columns = demo_total.columns.str.replace('    Whitealone','White', regex=True)
demo_total.columns = demo_total.columns.str.replace('    BlackorAfricanAmericanalone','AfricanAmerican', regex=True)

In [493]:
demo_total.columns = demo_total.columns.str.strip()

In [494]:
demo_total.columns

Index(['Population_for_whom_poverty_status_is_determined', 'Under_18_years',
       'Under_5_years', '5_to_17_years',
       'Related_children_of_householder_under_18_years', '18_to_64_years',
       '18_to_34_years', '35_to_64_years', '60_years_and_over',
       '65_years_and_over', 'Male', 'Female', 'White_alone',
       'Black_or_African_American_alone',
       'American_Indian_and_Alaska_Native_alone', 'Asian_alone',
       'Native_Hawaiian_and_Other_Pacific_Islander_alone',
       'Some_other_race_alone', 'Two_or_more_races',
       'Hispanic_or_Latino_origin_(of_any_race)',
       'White_alone,_not_Hispanic_or_Latino', 'Population_25_years_and_over',
       'Less_than_high_school_graduate',
       'High_school_graduate_(includes_equivalency)',
       'Some_college,_associate's_degree', 'Bachelor's_degree_or_higher',
       'Civilian_labor_force_16_years_and_over', 'Employed', 'Male', 'Female',
       'Unemployed', 'Male', 'Female', 'Population_16_years_and_over',
       'Worked_full-time,_year-round_in_the_past_12_months',
       'Worked_part-time_or_part-year_in_the_past_12_months', 'Did_not_work',
       '50_percent_of_poverty_level', '125_percent_of_poverty_level',
       '150_percent_of_poverty_level', '185_percent_of_poverty_level',
       '200_percent_of_poverty_level', '300_percent_of_poverty_level',
       '400_percent_of_poverty_level', '500_percent_of_poverty_level', 'Male',
       'Female', '15_years', '16_to_17_years', '18_to_24_years',
       '25_to_34_years', '35_to_44_years', '45_to_54_years', '55_to_64_years',
       '65_to_74_years', '75_years_and_over',
       'Mean_income_deficit_for_unrelated_individuals_(dollars)',
       'Worked_full-time,_year-round_in_the_past_12_months',
       'Worked_less_than_full-time,_year-round_in_the_past_12_months',
       'Did_not_work'],
      dtype='object', name='State')

In [495]:
demo_total.isna().sum()

State
Population_for_whom_poverty_status_is_determined                0
Under_18_years                                                  0
Under_5_years                                                   0
5_to_17_years                                                   0
Related_children_of_householder_under_18_years                  0
18_to_64_years                                                  0
18_to_34_years                                                  0
35_to_64_years                                                  0
60_years_and_over                                               0
65_years_and_over                                               0
Male                                                            0
Female                                                          0
White_alone                                                     0
Black_or_African_American_alone                                 0
American_Indian_and_Alaska_Native_alone                         0
Asian_alone                                                     0
Native_Hawaiian_and_Other_Pacific_Islander_alone                0
Some_other_race_alone                                           0
Two_or_more_races                                               0
Hispanic_or_Latino_origin_(of_any_race)                         0
White_alone,_not_Hispanic_or_Latino                             0
Population_25_years_and_over                                    0
Less_than_high_school_graduate                                  0
High_school_graduate_(includes_equivalency)                     0
Some_college,_associate's_degree                                0
Bachelor's_degree_or_higher                                     0
Civilian_labor_force_16_years_and_over                          0
Employed                                                        0
Male                                                            0
Female                                                          0
Unemployed                                                      0
Male                                                            0
Female                                                          0
Population_16_years_and_over                                    0
Worked_full-time,_year-round_in_the_past_12_months              0
Worked_part-time_or_part-year_in_the_past_12_months             0
Did_not_work                                                    0
50_percent_of_poverty_level                                     0
125_percent_of_poverty_level                                    0
150_percent_of_poverty_level                                    0
185_percent_of_poverty_level                                    0
200_percent_of_poverty_level                                    0
300_percent_of_poverty_level                                    0
400_percent_of_poverty_level                                    0
500_percent_of_poverty_level                                    0
Male                                                            0
Female                                                          0
15_years                                                        0
16_to_17_years                                                  0
18_to_24_years                                                  0
25_to_34_years                                                  0
35_to_44_years                                                  0
45_to_54_years                                                  0
55_to_64_years                                                  0
65_to_74_years                                                  0
75_years_and_over                                               0
Mean_income_deficit_for_unrelated_individuals_(dollars)         0
Worked_full-time,_year-round_in_the_past_12_months              0
Worked_less_than_full-time,_year-round_in_the_past_12_months    0
Did_not_work                                                    0
dtype: int64

In [503]:
demo_total.dtypes

State
State                                                           object
Population_for_whom_poverty_status_is_determined                object
Under_18_years                                                  object
Under_5_years                                                   object
5_to_17_years                                                   object
                                                                 ...
75_years_and_over                                               object
Mean_income_deficit_for_unrelated_individuals_(dollars)         object
Worked_full-time,_year-round_in_the_past_12_months              object
Worked_less_than_full-time,_year-round_in_the_past_12_months    object
Did_not_work                                                    object
Length: 61, dtype: object

It looks like all of the variables for demo_total are objects. I think they should be changed to integers or floats.

## Combining Demographic and Grocery Store Data

In [496]:
pivot_df.head()

Variable_Code,FIPS,State,County,CACFP_PART_2016,CONVS16,CONVSPTH16,FFR16,FFRPTH16,FSR16,FSRPTH16,...,SNAP_REPORTSIMPLE16,SPECS16,SPECSPTH16,SUPERC16,SUPERCPTH16,State_Population_2016,WICS16,WICSPTH16,WIC_PART_2016,Population_Estimate_2016
0,1001,AL,autauga,59447.5,31,0,44,0,31,0,...,1.0,1,0,1,0,4864745,5.0,0.090511,129159.9167,55242
1,1003,AL,baldwin,59447.5,118,0,156,0,236,1,...,1.0,27,0,7,0,4864745,28.0,0.134802,129159.9167,207712
2,1005,AL,barbour,59447.5,19,0,23,0,14,0,...,1.0,2,0,1,0,4864745,6.0,0.232387,129159.9167,25819
3,1007,AL,bibb,59447.5,15,0,7,0,7,0,...,1.0,0,0,1,0,4864745,5.0,0.221474,129159.9167,22576
4,1009,AL,blount,59447.5,27,0,23,0,12,0,...,1.0,0,0,1,0,4864745,8.0,0.139089,129159.9167,57517

In [497]:
demo_total.head()

State,Population_for_whom_poverty_status_is_determined,Under_18_years,Under_5_years,5_to_17_years,Related_children_of_householder_under_18_years,18_to_64_years,18_to_34_years,35_to_64_years,60_years_and_over,65_years_and_over,...,25_to_34_years,35_to_44_years,45_to_54_years,55_to_64_years,65_to_74_years,75_years_and_over,Mean_income_deficit_for_unrelated_individuals_(dollars),"Worked_full-time,_year-round_in_the_past_12_months","Worked_less_than_full-time,_year-round_in_the_past_12_months",Did_not_work
AL,"4,741,329","1,084,701","283,154","801,547","1,081,342","2,893,654","1,032,099","1,861,555","1,062,483","762,974",...,"133,911","97,430","117,433","159,452","121,556","111,694","6,613","315,932","161,509","366,298"
AK,"723,968","183,790","51,200","132,590","182,589","465,782","187,707","278,075","116,104","74,396",...,"39,456","22,150","24,873","25,131","15,734","9,392","6,676","71,726","52,108","34,447"
AZ,"6,771,098","1,602,166","428,074","1,174,092","1,594,976","4,009,492","1,521,583","2,487,909","1,572,644","1,159,440",...,"262,202","160,524","185,846","202,141","179,102","164,830","7,318","546,187","298,771","483,757"
AR,"2,898,630","693,626","183,785","509,841","690,094","1,733,403","630,091","1,103,312","652,970","471,601",...,"91,813","57,470","73,298","96,827","78,022","71,681","6,696","204,227","104,863","231,737"
CA,"38,513,258","8,961,540","2,442,070","6,519,470","8,921,451","24,299,744","9,389,665","14,910,079","7,439,137","5,251,974",...,"1,664,963","935,911","952,493","1,051,311","812,761","735,288","7,249","2,968,952","1,639,974","2,320,545"

I need to reset the index for demo_total, so I can merge the data.

In [498]:
demo_total = demo_total.rename_axis('State').reset_index()

demo_total.head()

State,State,Population_for_whom_poverty_status_is_determined,Under_18_years,Under_5_years,5_to_17_years,Related_children_of_householder_under_18_years,18_to_64_years,18_to_34_years,35_to_64_years,60_years_and_over,...,25_to_34_years,35_to_44_years,45_to_54_years,55_to_64_years,65_to_74_years,75_years_and_over,Mean_income_deficit_for_unrelated_individuals_(dollars),"Worked_full-time,_year-round_in_the_past_12_months","Worked_less_than_full-time,_year-round_in_the_past_12_months",Did_not_work
0,AL,"4,741,329","1,084,701","283,154","801,547","1,081,342","2,893,654","1,032,099","1,861,555","1,062,483",...,"133,911","97,430","117,433","159,452","121,556","111,694","6,613","315,932","161,509","366,298"
1,AK,"723,968","183,790","51,200","132,590","182,589","465,782","187,707","278,075","116,104",...,"39,456","22,150","24,873","25,131","15,734","9,392","6,676","71,726","52,108","34,447"
2,AZ,"6,771,098","1,602,166","428,074","1,174,092","1,594,976","4,009,492","1,521,583","2,487,909","1,572,644",...,"262,202","160,524","185,846","202,141","179,102","164,830","7,318","546,187","298,771","483,757"
3,AR,"2,898,630","693,626","183,785","509,841","690,094","1,733,403","630,091","1,103,312","652,970",...,"91,813","57,470","73,298","96,827","78,022","71,681","6,696","204,227","104,863","231,737"
4,CA,"38,513,258","8,961,540","2,442,070","6,519,470","8,921,451","24,299,744","9,389,665","14,910,079","7,439,137",...,"1,664,963","935,911","952,493","1,051,311","812,761","735,288","7,249","2,968,952","1,639,974","2,320,545"

I will combine these two DataFrames on the State columns.

In [501]:
df_full = pd.merge(pivot_df, demo_total, on='State')

In [502]:
df_full.head()

,FIPS,State,County,CACFP_PART_2016,CONVS16,CONVSPTH16,FFR16,FFRPTH16,FSR16,FSRPTH16,...,25_to_34_years,35_to_44_years,45_to_54_years,55_to_64_years,65_to_74_years,75_years_and_over,Mean_income_deficit_for_unrelated_individuals_(dollars),"Worked_full-time,_year-round_in_the_past_12_months","Worked_less_than_full-time,_year-round_in_the_past_12_months",Did_not_work
0,1001,AL,autauga,59447.5,31,0,44,0,31,0,...,"133,911","97,430","117,433","159,452","121,556","111,694","6,613","315,932","161,509","366,298"
1,1003,AL,baldwin,59447.5,118,0,156,0,236,1,...,"133,911","97,430","117,433","159,452","121,556","111,694","6,613","315,932","161,509","366,298"
2,1005,AL,barbour,59447.5,19,0,23,0,14,0,...,"133,911","97,430","117,433","159,452","121,556","111,694","6,613","315,932","161,509","366,298"
3,1007,AL,bibb,59447.5,15,0,7,0,7,0,...,"133,911","97,430","117,433","159,452","121,556","111,694","6,613","315,932","161,509","366,298"
4,1009,AL,blount,59447.5,27,0,23,0,12,0,...,"133,911","97,430","117,433","159,452","121,556","111,694","6,613","315,932","161,509","366,298"