# Food Desert Investigation -- Data Wrangling and Cleaning

## Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

I am going to use Pandas DataFrames to work with the csv files I've downloaded.

### State and County Data

I am filtering the StateAndCountyData to save the columns from 2016. I am doing this because all of the food data is from 2016. I will utilize other datasets to supplement this data with demographic data.

In [2]:
file_food_atlas = 'StateAndCountyData.csv'
data_state_county = pd.read_csv(file_food_atlas)
data_state_county.head()

   FIPS State   County          Variable_Code         Value
0  1001    AL  Autauga          LACCESS_POP10  18428.439690
1  1001    AL  Autauga          LACCESS_POP15  17496.693040
2  1001    AL  Autauga  PCH_LACCESS_POP_10_15     -5.056026
3  1001    AL  Autauga      PCT_LACCESS_POP10     33.769657
4  1001    AL  Autauga      PCT_LACCESS_POP15     32.062255

In [3]:
filtered_df = data_state_county[data_state_county['Variable_Code'].str.contains('(16)$')]

/var/folders/d7/365gnrk10q72fy9l9_q_hft80000gn/T/ipykernel_76514/3569536789.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  filtered_df = data_state_county[data_state_county['Variable_Code'].str.contains('(16)$')]

In [4]:
filtered_df.head()

        FIPS State   County      Variable_Code      Value
128276  1001    AL  Autauga             GROC16   3.000000
128277  1001    AL  Autauga     PCH_GROC_11_16 -40.000000
128279  1001    AL  Autauga          GROCPTH16   0.054271
128280  1001    AL  Autauga  PCH_GROCPTH_11_16 -40.085748
128282  1001    AL  Autauga           SUPERC16   1.000000

In [5]:
filtered_df['County'] = filtered_df['County'].str.replace(r'[^\w\s]', '', regex=True) # Remove punctuation
filtered_df['County'] = filtered_df['County'].str.replace('County', '') # Remove 'County' word, only present sometimes
filtered_df['County'] = filtered_df['County'].str.strip() # Remove leading and trailing spaces
filtered_df['County'] = filtered_df['County'].str.lower() # Convert to lowercase

/var/folders/d7/365gnrk10q72fy9l9_q_hft80000gn/T/ipykernel_76514/3599340196.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['County'] = filtered_df['County'].str.replace(r'[^\w\s]', '', regex=True) # Remove punctuation
/var/folders/d7/365gnrk10q72fy9l9_q_hft80000gn/T/ipykernel_76514/3599340196.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['County'] = filtered_df['County'].str.replace('County', '') # Remove 'County' word, only present sometimes
/var/folders/d7/365gnrk10q72fy9l9_q_hft80000gn/T/ipykernel_76514/3599340196.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['County'] = filtered_df['County'].str.strip() # Remove leading and trailing spaces
/var/folders/d7/365gnrk10q72fy9l9_q_hft80000gn/T/ipykernel_76514/3599340196.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['County'] = filtered_df['County'].str.lower() # Convert to lowercase

In [6]:
filtered_df['State'] = filtered_df.loc[:, 'State'].str.replace(r'[^\w\s]', '', regex=True) # Remove punctuation
filtered_df['State'] = filtered_df['State'].str.strip() # Remove leading and trailing spaces
filtered_df['State'] = filtered_df['State'].str.upper() # Convert to uppercase

/var/folders/d7/365gnrk10q72fy9l9_q_hft80000gn/T/ipykernel_76514/3646267976.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['State'] = filtered_df.loc[:, 'State'].str.replace(r'[^\w\s]', '', regex=True) # Remove punctuation
/var/folders/d7/365gnrk10q72fy9l9_q_hft80000gn/T/ipykernel_76514/3646267976.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['State'] = filtered_df['State'].str.strip() # Remove leading and trailing spaces
/var/folders/d7/365gnrk10q72fy9l9_q_hft80000gn/T/ipykernel_76514/3646267976.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['State'] = filtered_df['State'].str.upper() # Convert to uppercase

In [7]:
pivot_df = filtered_df.pivot_table(index=['FIPS', 'State', 'County'], columns='Variable_Code', values='Value').reset_index()

In [8]:
pivot_df.head()

Variable_Code,FIPS,State,County,CACFP_PART_2016,CONVS16,CONVSPTH16,FFR16,FFRPTH16,FSR16,FSRPTH16,...,SNAP_PART_RATE16,SNAP_REPORTSIMPLE16,SPECS16,SPECSPTH16,SUPERC16,SUPERCPTH16,State_Population_2016,WICS16,WICSPTH16,WIC_PART_2016
0,1,AL,total,59447.50,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4864745.0,NaN,NaN,1.291599e+05
1,2,AK,total,10039.00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,741504.0,NaN,NaN,1.912092e+04
2,4,AZ,total,42618.00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,6945452.0,NaN,NaN,1.639978e+05
3,5,AR,total,66903.00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2990410.0,NaN,NaN,8.055467e+04
4,6,CA,total,595088.25,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,39209127.0,NaN,NaN,1.174875e+06

### State Data

In [11]:
# Importing State Dataset
file_state_data = 'SupplementalDataState.csv'
data_state = pd.read_csv(file_state_data)
data_state.head()

   State_FIPS State  Variable_Code        Value
0           1    AL  WIC_PART_2012  141899.8333
1           1    AL  WIC_PART_2013  139000.5000
2           1    AL  WIC_PART_2014  131046.2500
3           1    AL  WIC_PART_2015  132132.7500
4           1    AL  WIC_PART_2016  129159.9167

In [18]:
filtered_state = data_state[data_state['Variable_Code'].str.contains('(16)$')]

filtered_state['State'] = filtered_state['State'].str.replace(r'[^\w\s]', '', regex=True) # Remove punctuation
filtered_state['State'] = filtered_state['State'].str.strip() # Remove leading and trailing spaces
filtered_state['State'] = filtered_state['State'].str.upper() # Convert to lowercase

states = filtered_state.pivot_table(index=['State_FIPS', 'State'], columns='Variable_Code', values='Value').reset_index()
states.head()

/var/folders/d7/365gnrk10q72fy9l9_q_hft80000gn/T/ipykernel_76514/727427956.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  filtered_state = data_state[data_state['Variable_Code'].str.contains('(16)$')]
/var/folders/d7/365gnrk10q72fy9l9_q_hft80000gn/T/ipykernel_76514/727427956.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_state['State'] = filtered_state['State'].str.replace(r'[^\w\s]', '', regex=True) # Remove punctuation
/var/folders/d7/365gnrk10q72fy9l9_q_hft80000gn/T/ipykernel_76514/727427956.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_state['State'] = filtered_state['State'].str.strip() # Remove leading and trailing spaces
/var/folders/d7/365gnrk10q72fy9l9_q_hft80000gn/T/ipykernel_76514/727427956.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_state['State'] = filtered_state['State'].str.upper() # Convert to lowercase

Variable_Code,State_FIPS,State,CACFP_PART_2016,NSLP_PART_2016,SBP_PART_2016,SFSP_PART_2016,State_Population_2016,WIC_PART_2016
0,1,AL,59447.50,5.259310e+05,2.669519e+05,48691.0,4864745.0,1.291599e+05
1,2,AK,10039.00,5.247980e+04,2.597914e+04,4688.0,741504.0,1.912092e+04
2,4,AZ,42618.00,6.410452e+05,3.159918e+05,13924.0,6945452.0,1.639978e+05
3,5,AR,66903.00,3.170393e+05,1.837072e+05,35767.0,2990410.0,8.055467e+04
4,6,CA,595088.25,3.251959e+06,1.722909e+06,123477.0,39209127.0,1.174875e+06

### County Data

In [9]:
# Importing County Dataset
file_county_data = 'SupplementalDataCounty.csv'
data_county = pd.read_csv(file_county_data)
data_county.head()

   FIPS State          County             Variable_Code  Value
0  1001    AL  Autauga County    2010_Census_Population  54571
1  1001    AL  Autauga County  Population_Estimate_2011  55208
2  1001    AL  Autauga County  Population_Estimate_2012  54936
3  1001    AL  Autauga County  Population_Estimate_2013  54713
4  1001    AL  Autauga County  Population_Estimate_2014  54876

In [19]:
filtered_counties = data_county[data_county['Variable_Code'].str.contains('(16)$')]

filtered_counties['County'] = filtered_counties['County'].str.replace(r'[^\w\s]', '', regex=True) # Remove punctuation
filtered_counties['County'] = filtered_counties['County'].str.replace('County', '') # Remove 'County' word, only present sometimes
filtered_counties['County'] = filtered_counties['County'].str.strip() # Remove leading and trailing spaces
filtered_counties['County'] = filtered_counties['County'].str.lower() # Convert to lowercase

filtered_counties['State'] = filtered_counties['State'].str.replace(r'[^\w\s]', '', regex=True) # Remove punctuation
filtered_counties['State'] = filtered_counties['State'].str.strip() # Remove leading and trailing spaces
filtered_counties['State'] = filtered_counties['State'].str.upper() # Convert to lowercase

counties = filtered_counties.pivot_table(index=['FIPS', 'State', 'County'], columns='Variable_Code', values='Value').reset_index()
counties.head()

/var/folders/d7/365gnrk10q72fy9l9_q_hft80000gn/T/ipykernel_76514/208533991.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  filtered_counties = data_county[data_county['Variable_Code'].str.contains('(16)$')]
/var/folders/d7/365gnrk10q72fy9l9_q_hft80000gn/T/ipykernel_76514/208533991.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_counties['County'] = filtered_counties['County'].str.replace(r'[^\w\s]', '', regex=True) # Remove punctuation
/var/folders/d7/365gnrk10q72fy9l9_q_hft80000gn/T/ipykernel_76514/208533991.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_counties['County'] = filtered_counties['County'].str.replace('County', '') # Remove 'County' word, only present sometimes
/var/folders/d7/365gnrk10q72fy9l9_q_hft80000gn/T/ipykernel_76514/208533991.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_counties['County'] = filtered_counties['County'].str.strip() # Remove leading and trailing spaces
/var/folders/d7/365gnrk10q72fy9l9_q_hft80000gn/T/ipykernel_76514/208533991.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_counties['County'] = filtered_counties['County'].str.lower() # Convert to lowercase
/var/folders/d7/365gnrk10q72fy9l9_q_hft80000gn/T/ipykernel_76514/208533991.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_counties['State'] = filtered_counties['State'].str.replace(r'[^\w\s]', '', regex=True) # Remove punctuation
/var/folders/d7/365gnrk10q72fy9l9_q_hft80000gn/T/ipykernel_76514/208533991.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_counties['State'] = filtered_counties['State'].str.strip() # Remove leading and trailing spaces
/var/folders/d7/365gnrk10q72fy9l9_q_hft80000gn/T/ipykernel_76514/208533991.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_counties['State'] = filtered_counties['State'].str.upper() # Convert to lowercase

Variable_Code  FIPS State   County  Population_Estimate_2016
0              1001    AL  autauga                     55242
1              1003    AL  baldwin                    207712
2              1005    AL  barbour                     25819
3              1007    AL     bibb                     22576
4              1009    AL   blount                     57517

## Exploring pivot_df

In [20]:
pivot_df.head()

Variable_Code,FIPS,State,County,CACFP_PART_2016,CONVS16,CONVSPTH16,FFR16,FFRPTH16,FSR16,FSRPTH16,...,SNAP_PART_RATE16,SNAP_REPORTSIMPLE16,SPECS16,SPECSPTH16,SUPERC16,SUPERCPTH16,State_Population_2016,WICS16,WICSPTH16,WIC_PART_2016
0,1,AL,total,59447.50,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4864745.0,NaN,NaN,1.291599e+05
1,2,AK,total,10039.00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,741504.0,NaN,NaN,1.912092e+04
2,4,AZ,total,42618.00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,6945452.0,NaN,NaN,1.639978e+05
3,5,AR,total,66903.00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2990410.0,NaN,NaN,8.055467e+04
4,6,CA,total,595088.25,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,39209127.0,NaN,NaN,1.174875e+06

In [25]:
pivot_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3328 entries, 0 to 3327
Data columns (total 55 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   FIPS                      3328 non-null   int64
 1   State                     3328 non-null   object
 2   County                    3328 non-null   object
 3   CACFP_PART_2016           51 non-null     float64
 4   CONVS16                   3143 non-null   float64
 5   CONVSPTH16                3143 non-null   float64
 6   FFR16                     3143 non-null   float64
 7   FFRPTH16                  3143 non-null   float64
 8   FSR16                     3143 non-null   float64
 9   FSRPTH16                  3143 non-null   float64
 10  GROC16                    3143 non-null   float64
 11  GROCPTH16                 3143 non-null   float64
 12  NSLP_PART_2016            51 non-null     float64
 13  PCH_CONVSPTH_11_16        3122 non-null   float64
 14  PCH_CONVS_11_16           3117 non-null   float64
 15  PCH_FFRPTH_11_16          3091 non-null   float64
 16  PCH_FFR_11_16             3086 non-null   float64
 17  PCH_FSRPTH_11_16          3120 non-null   float64
 18  PCH_FSR_11_16             3115 non-null   float64
 19  PCH_GROCPTH_11_16         3127 non-null   float64
 20  PCH_GROC_11_16            3122 non-null   float64
 21  PCH_PC_WIC_REDEMP_11_16   1808 non-null   float64
 22  PCH_RECFACPTH_11_16       3000 non-null   float64
 23  PCH_RECFAC_11_16          3000 non-null   float64
 24  PCH_REDEMP_WICS_11_16     2983 non-null   float64
 25  PCH_SPECSPTH_11_16        2896 non-null   float64
 26  PCH_SPECS_11_16           2893 non-null   float64
 27  PCH_SUPERCPTH_11_16       3011 non-null   float64
 28  PCH_SUPERC_11_16          3010 non-null   float64
 29  PCH_WICINFANTCHILD_14_16  3143 non-null   float64
 30  PCH_WICSPTH_11_16         2981 non-null   float64
 31  PCH_WICS_11_16            2984 non-null   float64
 32  PCH_WICWOMEN_14_16        3143 non-null   float64
 33  PCT_WICINFANTCHILD16      3143 non-null   float64
 34  PCT_WICWOMEN16            3143 non-null   float64
 35  PC_WIC_REDEMP16           1857 non-null   float64
 36  Population_Estimate_2016  3142 non-null   float64
 37  RECFAC16                  3143 non-null   float64
 38  RECFACPTH16               3143 non-null   float64
 39  REDEMP_WICS16             2985 non-null   float64
 40  SBP_PART_2016             51 non-null     float64
 41  SFSP_PART_2016            51 non-null     float64
 42  SNAP_BBCE16               3143 non-null   float64
 43  SNAP_CAP16                3143 non-null   float64
 44  SNAP_OAPP16               3143 non-null   float64
 45  SNAP_PART_RATE16          3143 non-null   float64
 46  SNAP_REPORTSIMPLE16       3143 non-null   float64
 47  SPECS16                   3143 non-null   float64
 48  SPECSPTH16                3143 non-null   float64
 49  SUPERC16                  3143 non-null   float64
 50  SUPERCPTH16               3143 non-null   float64
 51  State_Population_2016     51 non-null     float64
 52  WICS16                    2985 non-null   float64
 53  WICSPTH16                 2982 non-null   float64
 54  WIC_PART_2016             51 non-null     float64
dtypes: float64(52), int64(1), object(2)
memory usage: 1.4+ MB

In [26]:
pivot_df.describe()

Variable_Code,FIPS,CACFP_PART_2016,CONVS16,CONVSPTH16,FFR16,FFRPTH16,FSR16,FSRPTH16,GROC16,GROCPTH16,...,SNAP_PART_RATE16,SNAP_REPORTSIMPLE16,SPECS16,SPECSPTH16,SUPERC16,SUPERCPTH16,State_Population_2016,WICS16,WICSPTH16,WIC_PART_2016
count,3328.000000,51.000000,3143.00000,3143.000000,3143.000000,3143.000000,3143.000000,3143.000000,3143.000000,3143.000000,...,3143.000000,3143.0,3143.000000,3143.000000,3143.000000,3143.000000,5.100000e+01,2985.000000,2982.000000,5.100000e+01
mean,29764.681490,85921.333333,40.35762,0.595571,75.696787,0.584822,78.551066,0.775831,20.807827,0.243835,...,84.001372,1.0,7.458479,0.055450,1.782055,0.018255,6.334732e+06,14.577889,0.217240,1.474524e+05
std,15635.421817,118749.706301,97.01666,0.304968,268.845823,0.307703,269.993476,0.567851,90.196535,0.216536,...,9.223259,0.0,29.697479,0.075095,4.310650,0.022460,7.242171e+06,48.084899,0.191315,2.065493e+05
min,1.000000,7532.750000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,56.037000,1.0,0.000000,0.000000,0.000000,0.000000,5.842900e+05,1.000000,0.004938,1.078283e+04
25%,18110.500000,19351.875000,7.00000,0.401678,5.000000,0.418769,7.000000,0.495050,2.000000,0.132983,...,76.151000,1.0,0.000000,0.000000,0.000000,0.000000,1.756930e+06,2.000000,0.114667,3.856721e+04
50%,29072.000000,49185.750000,15.00000,0.542005,15.000000,0.588565,18.000000,0.672495,5.000000,0.186116,...,84.002000,1.0,1.000000,0.042268,1.000000,0.014654,4.438229e+06,5.000000,0.165353,1.001519e+05
75%,45067.500000,90559.125000,35.00000,0.722071,45.000000,0.748136,48.000000,0.894307,12.000000,0.279887,...,90.379000,1.0,4.000000,0.079363,1.500000,0.029268,7.120066e+06,10.000000,0.247699,1.515955e+05
max,56045.000000,595088.250000,2199.00000,3.680982,8264.000000,5.805515,8113.000000,11.611030,2495.000000,3.267974,...,100.000000,1.0,787.000000,1.095690,97.000000,0.250752,3.920913e+07,1188.000000,3.262643,1.174875e+06

In [28]:
pivot_df.columns

Index(['FIPS', 'State', 'County', 'CACFP_PART_2016', 'CONVS16', 'CONVSPTH16',
       'FFR16', 'FFRPTH16', 'FSR16', 'FSRPTH16', 'GROC16', 'GROCPTH16',
       'NSLP_PART_2016', 'PCH_CONVSPTH_11_16', 'PCH_CONVS_11_16',
       'PCH_FFRPTH_11_16', 'PCH_FFR_11_16', 'PCH_FSRPTH_11_16',
       'PCH_FSR_11_16', 'PCH_GROCPTH_11_16', 'PCH_GROC_11_16',
       'PCH_PC_WIC_REDEMP_11_16', 'PCH_RECFACPTH_11_16', 'PCH_RECFAC_11_16',
       'PCH_REDEMP_WICS_11_16', 'PCH_SPECSPTH_11_16', 'PCH_SPECS_11_16',
       'PCH_SUPERCPTH_11_16', 'PCH_SUPERC_11_16', 'PCH_WICINFANTCHILD_14_16',
       'PCH_WICSPTH_11_16', 'PCH_WICS_11_16', 'PCH_WICWOMEN_14_16',
       'PCT_WICINFANTCHILD16', 'PCT_WICWOMEN16', 'PC_WIC_REDEMP16',
       'Population_Estimate_2016', 'RECFAC16', 'RECFACPTH16', 'REDEMP_WICS16',
       'SBP_PART_2016', 'SFSP_PART_2016', 'SNAP_BBCE16', 'SNAP_CAP16',
       'SNAP_OAPP16', 'SNAP_PART_RATE16', 'SNAP_REPORTSIMPLE16', 'SPECS16',
       'SPECSPTH16', 'SUPERC16', 'SUPERCPTH16', 'State_Population_2016',
       'WICS16', 'WICSPTH16', 'WIC_PART_2016'],
      dtype='object', name='Variable_Code')

In [29]:
pivot_df.dtypes

Variable_Code
FIPS                          int64
State                        object
County                       object
CACFP_PART_2016             float64
CONVS16                     float64
CONVSPTH16                  float64
FFR16                       float64
FFRPTH16                    float64
FSR16                       float64
FSRPTH16                    float64
GROC16                      float64
GROCPTH16                   float64
NSLP_PART_2016              float64
PCH_CONVSPTH_11_16          float64
PCH_CONVS_11_16             float64
PCH_FFRPTH_11_16            float64
PCH_FFR_11_16               float64
PCH_FSRPTH_11_16            float64
PCH_FSR_11_16               float64
PCH_GROCPTH_11_16           float64
PCH_GROC_11_16              float64
PCH_PC_WIC_REDEMP_11_16     float64
PCH_RECFACPTH_11_16         float64
PCH_RECFAC_11_16            float64
PCH_REDEMP_WICS_11_16       float64
PCH_SPECSPTH_11_16          float64
PCH_SPECS_11_16             float64
PCH_SUPERCPTH_11_16         float64
PCH_SUPERC_11_16            float64
PCH_WICINFANTCHILD_14_16    float64
PCH_WICSPTH_11_16           float64
PCH_WICS_11_16              float64
PCH_WICWOMEN_14_16          float64
PCT_WICINFANTCHILD16        float64
PCT_WICWOMEN16              float64
PC_WIC_REDEMP16             float64
Population_Estimate_2016    float64
RECFAC16                    float64
RECFACPTH16                 float64
REDEMP_WICS16               float64
SBP_PART_2016               float64
SFSP_PART_2016              float64
SNAP_BBCE16                 float64
SNAP_CAP16                  float64
SNAP_OAPP16                 float64
SNAP_PART_RATE16            float64
SNAP_REPORTSIMPLE16         float64
SPECS16                     float64
SPECSPTH16                  float64
SUPERC16                    float64
SUPERCPTH16                 float64
State_Population_2016       float64
WICS16                      float64
WICSPTH16                   float64
WIC_PART_2016               float64
dtype: object

### Changing data types

#### State_Population_2016
This sh