This notebook is for Data Wrangling and Cleaning

In [81]:
# Imports
import pandas as pd
pd.options.mode.chained_assignment=None 
import numpy as np

This is the main dataset that contains information for each Food Environment Atlas category.

In [82]:
# Importing Dataset
file_food_atlas = 'StateAndCountyData.csv'
data_state_county = pd.read_csv(file_food_atlas)
data_state_county.head()

   FIPS State   County          Variable_Code         Value
0  1001    AL  Autauga          LACCESS_POP10  18428.439690
1  1001    AL  Autauga          LACCESS_POP15  17496.693040
2  1001    AL  Autauga  PCH_LACCESS_POP_10_15     -5.056026
3  1001    AL  Autauga      PCT_LACCESS_POP10     33.769657
4  1001    AL  Autauga      PCT_LACCESS_POP15     32.062255

In [83]:
data_state_county.dtypes

FIPS               int64
State             object
County            object
Variable_Code     object
Value            float64
dtype: object

In [84]:
data_state_county.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 852810 entries, 0 to 852809
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   FIPS           852810 non-null  int64
 1   State          852810 non-null  object
 2   County         852810 non-null  object
 3   Variable_Code  852810 non-null  object
 4   Value          852810 non-null  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 32.5+ MB

In [85]:
data_state_county.describe()

                FIPS         Value
count  852810.000000  8.528100e+05
mean    30336.233835  1.053919e+04
std     15188.596259  2.148199e+05
min         1.000000 -1.000000e+02
25%     18171.000000  0.000000e+00
50%     29171.000000  3.000000e+00
75%     45069.000000  2.910000e+01
max     56045.000000  3.955704e+07

Importing State Dataset -- This dataset contains supplemental information at the state level

In [86]:
# Importing State Dataset
file_state_data = 'SupplementalDataState.csv'
data_state = pd.read_csv(file_state_data)
data_state.head()

   State_FIPS State  Variable_Code        Value
0           1    AL  WIC_PART_2012  141899.8333
1           1    AL  WIC_PART_2013  139000.5000
2           1    AL  WIC_PART_2014  131046.2500
3           1    AL  WIC_PART_2015  132132.7500
4           1    AL  WIC_PART_2016  129159.9167

Importing County Dataset -- This dataset contains supplemental information

In [87]:
# Importing County Dataset
file_county_data = 'SupplementalDataCounty.csv'
data_county = pd.read_csv(file_county_data)
data_county.head()

   FIPS State          County             Variable_Code  Value
0  1001    AL  Autauga County    2010_Census_Population  54571
1  1001    AL  Autauga County  Population_Estimate_2011  55208
2  1001    AL  Autauga County  Population_Estimate_2012  54936
3  1001    AL  Autauga County  Population_Estimate_2013  54713
4  1001    AL  Autauga County  Population_Estimate_2014  54876

In [88]:
data_county.dtypes

FIPS              int64
State            object
County           object
Variable_Code    object
Value             int64
dtype: object

Importing Variable List -- Might be useful later

In [89]:
file_variables = 'VariableList.csv'
variable_list = pd.read_csv(file_variables)
variable_list.head()

,Variable_Name,Category_Name,Category_Code,Subcategory_Name,Variable_Code,Geography,Units
0,"Population, low access to store, 2010",Access and Proximity to Grocery Store,ACCESS,Overall,LACCESS_POP10,CNTY10,Count
1,"Population, low access to store, 2015",Access and Proximity to Grocery Store,ACCESS,Overall,LACCESS_POP15,CNTY10,Count
2,"Population, low access to store (% change), 20...",Access and Proximity to Grocery Store,ACCESS,Overall,PCH_LACCESS_POP_10_15,CNTY10,% change
3,"Population, low access to store (%), 2010",Access and Proximity to Grocery Store,ACCESS,Overall,PCT_LACCESS_POP10,CNTY10,Percent
4,"Population, low access to store (%), 2015",Access and Proximity to Grocery Store,ACCESS,Overall,PCT_LACCESS_POP15,CNTY10,Percent

In [90]:
variable_list.dtypes

Variable_Name       object
Category_Name       object
Category_Code       object
Subcategory_Name    object
Variable_Code       object
Geography           object
Units               object
dtype: object

Filtering the data by the years 2010 and 2015

In [147]:
filtered_df = data_state_county[data_state_county['Variable_Code'].str.contains('(10|15)$')]

/tmp/ipykernel_59625/3209300512.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  filtered_df = data_state_county[data_state_county['Variable_Code'].str.contains('(10|15)$')]

In [148]:
filtered_df.head()

   FIPS State   County          Variable_Code         Value
0  1001    AL  Autauga          LACCESS_POP10  18428.439690
1  1001    AL  Autauga          LACCESS_POP15  17496.693040
2  1001    AL  Autauga  PCH_LACCESS_POP_10_15     -5.056026
3  1001    AL  Autauga      PCT_LACCESS_POP10     33.769657
4  1001    AL  Autauga      PCT_LACCESS_POP15     32.062255

Clearing the County and State columns to prevent duplicate values

In [157]:
filtered_df['County'] = filtered_df['County'].str.replace(r'[^\w\s]', '', regex=True) # Remove punctuation
filtered_df['County'] = filtered_df['County'].str.replace('County', '') # Remove 'County' word, only present sometimes
filtered_df['County'] = filtered_df['County'].str.strip() # Remove leading and trailing spaces
filtered_df['County'] = filtered_df['County'].str.lower() # Convert to lowercase

In [158]:
filtered_df.head()

   FIPS State   County          Variable_Code         Value
0  1001    AL  autauga          LACCESS_POP10  18428.439690
1  1001    AL  autauga          LACCESS_POP15  17496.693040
2  1001    AL  autauga  PCH_LACCESS_POP_10_15     -5.056026
3  1001    AL  autauga      PCT_LACCESS_POP10     33.769657
4  1001    AL  autauga      PCT_LACCESS_POP15     32.062255

In [159]:
filtered_df['State'] = filtered_df.loc[:, 'State'].str.replace(r'[^\w\s]', '', regex=True) # Remove punctuation
filtered_df['State'] = filtered_df['State'].str.strip() # Remove leading and trailing spaces
filtered_df['State'] = filtered_df['State'].str.upper() # Convert to uppercase

In [160]:
pivot_df = filtered_df.pivot_table(index=['FIPS', 'State', 'County'], columns='Variable_Code', values='Value').reset_index()

In [161]:
pivot_df[pivot_df['State']=='AL']

Variable_Code,FIPS,State,County,CACFP_PART_2015,CHILDPOVRATE15,FARM_TO_SCHOOL15,FDPIR15,LACCESS_BLACK15,LACCESS_CHILD10,LACCESS_CHILD15,...,PCT_REDUCED_LUNCH15,PERCHLDPOV10,PERPOV10,POPLOSS10,POVRATE15,Population_Estimate_2015,SBP_PART_2015,SFSP_PART_2015,State_Population_2015,WIC_PART_2015
0,1,AL,total,51263.75,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,254270.2865,49715.0,4853160.0,132132.75
51,1001,AL,autauga,NaN,18.8,0.0,0.0,4216.473194,4822.500269,4616.971480,...,NaN,0.0,0.0,0.0,12.7,NaN,NaN,NaN,NaN,NaN
52,1001,AL,autauga county,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,54838.0,NaN,NaN,NaN,NaN
53,1003,AL,baldwin,NaN,19.6,1.0,0.0,3540.965826,7916.131932,7007.972675,...,6.346384,0.0,0.0,0.0,12.9,NaN,NaN,NaN,NaN,NaN
54,1003,AL,baldwin county,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,202995.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,1129,AL,washington county,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,16828.0,NaN,NaN,NaN,NaN
181,1131,AL,wilcox,NaN,49.2,0.0,0.0,4011.082404,1375.016342,1336.624194,...,0.000000,1.0,1.0,1.0,33.2,NaN,NaN,NaN,NaN,NaN
182,1131,AL,wilcox county,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10903.0,NaN,NaN,NaN,NaN
183,1133,AL,winston,NaN,29.3,0.0,0.0,3.304613,233.077156,331.320442,...,11.153846,0.0,0.0,0.0,18.9,NaN,NaN,NaN,NaN,NaN
184,1133,AL,winston county,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,23929.0,NaN,NaN,NaN,NaN

In [162]:
# Changing State from object to string
data_state_county['State'] = data_state_county['State'].astype('string')

In [99]:
# Changing County from object to string
data_state_county['County'] = data_state_county['County'].astype('string')

In [100]:
assert data_state_county['County'].dtype == 'string'

In [101]:
assert data_state_county['State'].dtype == 'string'

Finding missing values