This notebook is for Data Wrangling and Cleaning

In [1]:
# Imports
import pandas as pd

This is the main dataset that contains information for each Food Environment Atlas category.

In [2]:
# Importing Dataset
file_food_atlas = 'StateAndCountyData.csv'
data_state_county = pd.read_csv(file_food_atlas)
data_state_county.head()

   FIPS State   County          Variable_Code         Value
0  1001    AL  Autauga          LACCESS_POP10  18428.439690
1  1001    AL  Autauga          LACCESS_POP15  17496.693040
2  1001    AL  Autauga  PCH_LACCESS_POP_10_15     -5.056026
3  1001    AL  Autauga      PCT_LACCESS_POP10     33.769657
4  1001    AL  Autauga      PCT_LACCESS_POP15     32.062255

In [3]:
data_state_county.dtypes

FIPS               int64
State             object
County            object
Variable_Code     object
Value            float64
dtype: object

In [4]:
data_state_county.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 852810 entries, 0 to 852809
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   FIPS           852810 non-null  int64
 1   State          852810 non-null  object
 2   County         852810 non-null  object
 3   Variable_Code  852810 non-null  object
 4   Value          852810 non-null  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 32.5+ MB

In [5]:
data_state_county.describe()

                FIPS         Value
count  852810.000000  8.528100e+05
mean    30336.233835  1.053919e+04
std     15188.596259  2.148199e+05
min         1.000000 -1.000000e+02
25%     18171.000000  0.000000e+00
50%     29171.000000  3.000000e+00
75%     45069.000000  2.910000e+01
max     56045.000000  3.955704e+07

Importing State Dataset -- This dataset contains supplemental information at the state level

In [6]:
# Importing State Dataset
file_state_data = 'SupplementalDataState.csv'
data_state = pd.read_csv(file_state_data)
data_state.head()

   State_FIPS State  Variable_Code        Value
0           1    AL  WIC_PART_2012  141899.8333
1           1    AL  WIC_PART_2013  139000.5000
2           1    AL  WIC_PART_2014  131046.2500
3           1    AL  WIC_PART_2015  132132.7500
4           1    AL  WIC_PART_2016  129159.9167

Importing County Dataset -- This dataset contains supplemental information

In [7]:
# Importing County Dataset
file_county_data = 'SupplementalDataCounty.csv'
data_county = pd.read_csv(file_county_data)
data_county.head()

   FIPS State          County             Variable_Code  Value
0  1001    AL  Autauga County    2010_Census_Population  54571
1  1001    AL  Autauga County  Population_Estimate_2011  55208
2  1001    AL  Autauga County  Population_Estimate_2012  54936
3  1001    AL  Autauga County  Population_Estimate_2013  54713
4  1001    AL  Autauga County  Population_Estimate_2014  54876

In [8]:
data_county.dtypes

FIPS              int64
State            object
County           object
Variable_Code    object
Value             int64
dtype: object

Importing Variable List -- Might be useful later

In [9]:
file_variables = 'VariableList.csv'
variable_list = pd.read_csv(file_variables)
variable_list.head()

,Variable_Name,Category_Name,Category_Code,Subcategory_Name,Variable_Code,Geography,Units
0,"Population, low access to store, 2010",Access and Proximity to Grocery Store,ACCESS,Overall,LACCESS_POP10,CNTY10,Count
1,"Population, low access to store, 2015",Access and Proximity to Grocery Store,ACCESS,Overall,LACCESS_POP15,CNTY10,Count
2,"Population, low access to store (% change), 20...",Access and Proximity to Grocery Store,ACCESS,Overall,PCH_LACCESS_POP_10_15,CNTY10,% change
3,"Population, low access to store (%), 2010",Access and Proximity to Grocery Store,ACCESS,Overall,PCT_LACCESS_POP10,CNTY10,Percent
4,"Population, low access to store (%), 2015",Access and Proximity to Grocery Store,ACCESS,Overall,PCT_LACCESS_POP15,CNTY10,Percent

In [10]:
variable_list.dtypes

Variable_Name       object
Category_Name       object
Category_Code       object
Subcategory_Name    object
Variable_Code       object
Geography           object
Units               object
dtype: object

Reviewing the data_state_county data more closely

In [11]:
# The different variables are contained in the Variable_Code column
# Each Variable_Code is available for each state
data_state_county[data_state_county['State']=='AL']

        FIPS State   County          Variable_Code         Value
0       1001    AL  Autauga          LACCESS_POP10  1.842844e+04
1       1001    AL  Autauga          LACCESS_POP15  1.749669e+04
2       1001    AL  Autauga  PCH_LACCESS_POP_10_15 -5.056026e+00
3       1001    AL  Autauga      PCT_LACCESS_POP10  3.376966e+01
4       1001    AL  Autauga      PCT_LACCESS_POP15  3.206225e+01
...      ...   ...      ...                    ...           ...
850705     1    AL    Total  State_Population_2014  4.842481e+06
850706     1    AL    Total  State_Population_2015  4.853160e+06
850707     1    AL    Total  State_Population_2016  4.864745e+06
850708     1    AL    Total  State_Population_2017  4.875120e+06
850709     1    AL    Total  State_Population_2018  4.887871e+06

[18504 rows x 5 columns]

In [12]:
data_state_county.dtypes

FIPS               int64
State             object
County            object
Variable_Code     object
Value            float64
dtype: object

In [13]:
# Changing State from object to string
data_state_county['State'] = data_state_county['State'].astype('string')

In [14]:
# Changing County from object to string
data_state_county['County'] = data_state_county['County'].astype('string')

In [15]:
assert data_state_county['County'].dtype == 'string'

In [16]:
assert data_state_county['State'].dtype == 'string'

Finding missing values

In [17]:
#There are no missing values
data_state_county.isna().sum()

FIPS             0
State            0
County           0
Variable_Code    0
Value            0
dtype: int64

Subsetting and grouping

In [18]:
is_mo = data_state_county['State'] == 'MO'
is_stl = data_state_county['County'] == 'St. Louis'
data_state_county[is_mo & is_stl]

         FIPS State     County          Variable_Code          Value
64423   29189    MO  St. Louis          LACCESS_POP10  264849.564300
64424   29189    MO  St. Louis          LACCESS_POP15  267303.233300
64425   29189    MO  St. Louis  PCH_LACCESS_POP_10_15       0.926439
64426   29189    MO  St. Louis      PCT_LACCESS_POP10      26.512689
64427   29189    MO  St. Louis      PCT_LACCESS_POP15      26.758313
...       ...   ...        ...                    ...            ...
799217  29510    MO  St. Louis               PERPOV10       1.000000
799218  29510    MO  St. Louis         CHILDPOVRATE15      39.300000
799219  29510    MO  St. Louis           PERCHLDPOV10       1.000000
799220  29510    MO  St. Louis                METRO13       1.000000
799221  29510    MO  St. Louis              POPLOSS10       1.000000

[469 rows x 5 columns]

In [19]:
# data_state_county.pivot_tables(values=

In [23]:
LACCESS_POP10 = data_state_county[data_state_county['Variable_Code'] == 'LACCESS_POP10']

In [24]:
print(LACCESS_POP10)

         FIPS State      County  Variable_Code         Value
0        1001    AL     Autauga  LACCESS_POP10  18428.439690
41       1003    AL     Baldwin  LACCESS_POP10  35210.814080
82       1005    AL     Barbour  LACCESS_POP10   5722.305602
123      1007    AL        Bibb  LACCESS_POP10   1044.867327
164      1009    AL      Blount  LACCESS_POP10   1548.175559
...       ...   ...         ...            ...           ...
128070  56037    WY  Sweetwater  LACCESS_POP10  13391.715500
128111  56039    WY       Teton  LACCESS_POP10   6212.423697
128152  56041    WY       Uinta  LACCESS_POP10   4270.147119
128193  56043    WY    Washakie  LACCESS_POP10    931.411647
128234  56045    WY      Weston  LACCESS_POP10   1240.493102

[3143 rows x 5 columns]